.kpi {
  position: relative;
  padding-top: $size-line;

  @include media-breakpoint-up(md) {
    padding-bottom: $size-line;
  }
}

.kpi + .kpi {
  @include media-breakpoint-up(md) {
    &::before {
      border-left: .1rem solid $color-ink-border;
      content: '';
      position: absolute;
      top: $size-line;
      left: 0;
      width: 0;
      height: calc(100% - #{$size-line * 2});
    }
  }
}

.kpi__value {
  color: $color-ink-highlight;
  display: block;
  font-size: var(--font-size-h1);
  font-weight: 500;
  letter-spacing: -.2rem;
  line-height: var(--line-height-h1);
  text-align: center;
  padding-top: var(--padding-top-h1);
  padding-bottom: var(--padding-bottom-h1);
}

.kpi__caption {
  color: $color-ink-2ry;
  display: block;
  text-align: center;
  margin-top: -$size-line;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}
