.kpi {
  position: relative;
  padding-top: $size-space-line;

  @include media-breakpoint-up(md) {
    padding-bottom: $size-space-line;
  }
}

.kpi + .kpi {
  @include media-breakpoint-up(md) {
    &::before {
      border-left: .1rem solid var(--color-border-dark);
      content: '';
      position: absolute;
      top: $size-space-line;
      left: 0;
      width: 0;
      height: calc(100% - #{$size-space-line * 2});
    }
  }
}

.kpi__value {
  color: var(--color-ink-primary-fill);
  display: block;
  font-size: var(--font-size-title);
  font-weight: 500;
  letter-spacing: -.2rem;
  line-height: var(--font-line-height-title);
  text-align: center;
  padding-top: var(--space-padding-top-title);
  padding-bottom: var(--space-padding-bottom-title);
}

.kpi__caption {
  color: var(--color-ink-2ry);
  display: block;
  text-align: center;
  margin-top: -$size-space-line;
  padding-top: var(--space-padding-top-base);
  padding-bottom: var(--space-padding-bottom-base);
}
