// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region

// .dropdown
//   button.dropdown__toggle
//   ul.dropdown__menu

// The dropdown wrapper (`<div>`)
.dropdown {
  position: relative;
}

.dropdown__label {
  background: rgba(0, 0, 0, 0) var(--asset-data-image-chevron-down) no-repeat right $size-space-1 center;
  border-radius: var(--shape-border-radius-base);
  display: inline-block;
  padding-top: .6rem;
  padding-bottom: .6rem;
  padding-left: $size-space-2;
  padding-right: $size-space-3;
  white-space: nowrap;

  &:focus {
    background-color: $color-neutral-dark-min;
    outline: none;
  }
}

// The dropdown menu
.dropdown-menu,
.dropdown__menu {
  background-color: var(--color-background-base);
  // BS override
  border: 0;
  box-shadow:
    var(--layer-box-shadow-contour),
    var(--layer-box-shadow-z5);
  border-radius: var(--shape-border-radius-lg);
  color: var(--color-ink-2ry);
  text-align: left;
  list-style: none;
  margin: 0;
  padding: $size-space-2 $size-space-line;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility var(--motion-duration-sm),
    opacity var(--motion-duration-sm);
  min-width: var(--size-width-sm);
  z-index: var(--layer-zindex-dropdown);

  &.is-open,
  .dropup.open & {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  @include media-breakpoint-up(sm) {
    min-width: var(--size-width-base);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// ITEMS
// -----------------------------------------------------------------------------
// #region
// Links, buttons, and more within the dropdown menu

.dropdown__menu li,
.dropdown-menu > li {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown__link,
.dropdown__item > a,
.dropdown-menu > li > a,
.dropdown__item > button {
  @extend %text-truncate;

  border-radius: var(--shape-border-radius-base);
  color: var(--color-ink-2ry);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
  letter-spacing: .05rem;
  line-height: var(--font-line-height-small);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: .4rem;
  padding: .2rem $size-space-2 0;
  transition: background var(--motion-duration-xs);
  width: 100%;
  height: 5.2rem;

  &:hover,
  &:focus {
    background-color: $color-background-alt;
    text-decoration: none;
  }

  .icon {
    margin-right: $size-space-2;
    transform: translateY(-.1rem);
  }
}

.dropdown__item > .btn.is-ghost {
  color: var(--color-ink-2ry);
  justify-content: flex-start;

  &:focus {
    box-shadow: none;
  }
}

.dropdown__item > a:focus {
  outline: 0;
}

// Notes
.dropdown__menu .note {
  display: block;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  padding-top: 1.1rem;
  padding-bottom: 1.9rem;
}

// Dividers
.dropdown__divider {
  border-top: 1px solid var(--color-border-dark);
  margin: ($size-space-1 - .1rem) 0 $size-space-2;
  overflow: hidden;
  height: 0;
}

// #endregion

// -----------------------------------------------------------------------------
// BOOTSTRAP OVERRIDES
// -----------------------------------------------------------------------------

.dropdown-toggle {
  --icon: var(--asset-data-image-chevron-down);

  background: rgba(0, 0, 0, 0) var(--icon) no-repeat 50% 50%;
  display: inline-block;
  width: 40px;
  height: 40px;

  .caret,
  .glyphicon {
    display: none;
  }
}

.btn-group.open .dropdown-toggle {
  background-color: var(--color-background-alt);
  box-shadow: none;
}

// -----------------------------------------------------------------------------
// POSITION
// -----------------------------------------------------------------------------
// #region

// Allow for dropdowns to go bottom up (aka, dropup-menu)
.dropdown.is-upward .dropdown__menu {
  top: auto;
  bottom: 100%;
}

.dropdown.is-leftward-xs .dropdown__menu {
  @include media-breakpoint-down(sm) {
    left: auto;
    right: 0;
  }
}

.dropdown.is-leftward-xs-sm .dropdown__menu {
  @include media-breakpoint-down(md) {
    left: auto;
    right: 0;
  }
}

.dropdown.dropdown.is-centered-xs .dropdown__menu {
  @include media-breakpoint-down(sm) {
    left: 50%;
    transform: translateX(-50%);
  }
}
// #endregion
