// DETAILS: NATIVE ACCORDION, COLLAPSIBLE COMPONENTS, TABS

// stylelint-disable no-duplicate-selectors
// https://codepen.io/keithpickering/pen/PeBpwG
// https://caniuse.com/#search=details

// The caret icon (chevron down) most clearly indicated to users that it would
// open a collapsible in place
// https://www.nngroup.com/articles/accordion-icons/
// https://material.io/archive/guidelines/components/expansion-panels.html

$details-animation-speed: var(--motion-duration-md);

// PARENT

.details {
  background-color: $color-background-alt;
  border-bottom: 1px solid var(--color-border-dark);
  overflow: hidden;
  transition: height $details-animation-speed var(--motion-easing-base);
}

.details + :not(.details) {
  margin-top: $size-space-line;

  @include media-breakpoint-up(md) {
    margin-top: $size-space-line * 2;
  }
}

// SUMMARY

.details__summary {
  // cursor: pointer set in normalize
  // Hide the summary marker in non-Webkit
  display: list-item;
  list-style: none;
  font-weight: bold;
  padding:
    2.3rem
    $size-space-2
    $size-space-3
    $size-space-5;
  position: relative;
  transition: color $details-animation-speed var(--motion-easing-base);

  .details[open] & {
    color: var(--color-ink-primary-text);
    // margin-bottom: $size-space-line;
  }

  &:focus {
    outline: none;
  }

  // Hide the marker in Webkit
  &::-webkit-details-marker {
    display: none;
  }
}

// MARKERS
.details__summary::before {
  background-color: transparent;
  background-image: var(--asset-data-image-chevron-down);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
  opacity: .54;
  position: absolute;
  top: 2.8rem;
  left: $size-space-2;
  width: 1.4rem;
  height: 1.4rem;
}

[open] > .details__summary::before {
  transform: scaleY(-1);
}

// DETAILS

.details__content {
  margin-top: -3.1rem;
  margin-bottom: -.1rem;
  padding-top: 0;
  padding-right: $size-space-2;
  padding-bottom: 0;
  padding-left: $size-space-5;
}

.details__summary,
.details__content {
  @include media-breakpoint-up(md) {
    padding-right: $size-space-line;
  }
}
