# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false


# [*.py]
# indent_size = 4

# WordPress
[*.php]
indent_style = tab

# PSR-2, Symfony, Composer and most other PHP projects use 4 space indent
# [*.php]
# indent_size = 4
