# Sensitive information
.env
.env.*
!.env.example
.htaccess

# Working Files
*.sql
_tmp
assets
backup
docs
src/css/core
src/pages/outlines
src/overrides/*
!src/overrides/_overrides.scss
!src/overrides/_add-ons.scss
tmp
uploads

# Media Files
*.avi
*.doc
*.docx
# *.gif
# *.jpeg
# *.jpg
*.mov
*.mp3
# *.mp4
*.mpeg
# *.pdf
# *.png
# *.svg
# *.webm
# *.webp
# *.wmv

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
*_notes

#Build generated
*.sass-cache*
.tmp
build/
dist/

# Logs, backups
*.bak
*.log
*.swp

# NODE

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Dependency directories
/node_modules

# Yarn Integrity file
.yarn-integrity

# Optional eslint cache
.eslintcache

# SYSTEM FILES
*.DS_Store
*.app

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
