.main-menu {
  pointer-events: none;
  opacity: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity var(--motion-duration-base) var(--motion-easing-base);
  z-index: var(--layer-zindex-tooltip);

  @include media-breakpoint-up(md) {
    top: 0;
    min-height: 100vh;
  }
}

// Hide navbar on inner pages when the footer is appeared
.has-hidden-stickies:not(.is-home) .main-menu {
  @include media-breakpoint-up(md) {
    opacity: 0;
  }
}

// Outer container

.main-menu > .qwt-container {
  --space-padding-x-container: 0;

  @include media-breakpoint-down(md) {
    pointer-events: none;
  }

  @include media-breakpoint-up(md) {
    --space-padding-x-container: #{$size-space-4};
    padding-top: $size-space-4;
    padding-bottom: $size-space-4;
  }
}

.main-menu__inner {
  background: $color-background-alt;
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, .5),
    0 -2px 4px 0 rgba(0, 0, 0, .08),
    0 -1px 0 0 rgba(0, 0, 0, .06);
  pointer-events: auto;
  width: 100%;
  height: $size-space-7;

  @include media-breakpoint-up(md) {
    background: var(--color-background-base);
    border-radius: var(--shape-border-radius-lg);
    box-shadow:
      var(--layer-box-shadow-contour),
      var(--layer-box-shadow-z5);
    padding-top: $size-space-line * 2;
    padding-right: $size-space-1;
    padding-bottom: $size-space-line * 2;
    padding-left: $size-space-1;
    width: calc(#{percentage(1/4)} - 1.2rem);
    height: auto;
  }

  @include media-breakpoint-only(lg) {
    width: calc(#{percentage(1/6)} - 1.4rem);
  }

  @include media-breakpoint-only(xl) {
    padding-top: $size-space-5;
    padding-left: $size-space-line;
    padding-right: $size-space-line;
  }
}

// -----------------------------------------------------------------------------
// LOGO
// -----------------------------------------------------------------------------

.main-menu__logo {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    border-radius: var(--shape-border-radius-base);

    &:focus {
      background: $color-background-alt;
    }
  }
}

.main-menu__logo > figure {
  text-align: center;
  margin-bottom: 2.9rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 1.3rem;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: ($size-space-line * 3) + 2.1rem;
  }
}

.main-menu__logomark {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(xl) {
    margin-left: $size-space-1;
    margin-right: $size-space-1;
  }
}

.main-menu__tagline {
  color: var(--color-ink-2ry);
  font-size: var(--font-size-small);
  line-height: var(--font-line-height-small);
  word-break: break-word;
  padding: .4rem 0 0;

  @include media-breakpoint-up(xl) {
    margin-top: -.4rem;
    padding: 0;
  }
}


// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
.main-menu__list {
  display: flex;
  align-items: stretch;
  padding: 0;
  height: calc(100% - #{$size-space-1});

  @include media-breakpoint-up(md) {
    flex-direction: column;
  }
}

.main-menu__item {
  display: flex;
  flex: 1 0 0%;
  justify-content: center;
  padding: 0;

  @include media-breakpoint-only(md) {
    padding-bottom: $size-space-1;
  }
}

.main-menu__link,
%navbar-link {
  border-radius: var(--shape-border-radius-base);
  color: var(--color-ink-2ry);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--font-size-small);
  line-height: var(--font-line-height-small);
  text-align: center;
  word-break: word;
  margin-top: .4rem;
  padding: .4rem $size-space-1;
  transition: background var(--motion-duration-xs);
  min-width: 7rem;

  &:hover,
  &:focus {
    background-color: $color-background-alt;
    text-decoration: none;
  }

  @include media-breakpoint-up(md) {
    color: var(--color-ink-2ry);
    font-size: var(--font-size-small);
    letter-spacing: .05rem;
    line-height: var(--font-line-height-small);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: $size-space-2 $size-space-1 1.3rem;
    width: 100%;
  }

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: .4rem;
    padding: .2rem $size-space-2 0;
    transition: background var(--motion-duration-xs);
    height: 5.2rem;
  }
}

.main-menu__link .icon,
.main-menu__dropdown-label .icon {
  display: block;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.2rem;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
    margin-right: $size-space-2;
    transform: translateY(-.1rem);
  }
}

// -----------------------------------------------------------------------------
// MORE
// -----------------------------------------------------------------------------

.main-menu__dropdown-label {
  @extend %btn, %navbar-link;

  background: transparent;

  @include media-breakpoint-up(xl) {
    justify-content: flex-start;
  }
}

.main-menu__dropdown-label[aria-expanded='true'] {
  background-color: darken($color-background-alt, 5%);

  @include media-breakpoint-up(md) {
    background-color: $color-background-alt;
  }
}

.main-menu__item .dropdown__menu {
  top: auto;
  bottom: 100%;
  left: auto;
  right: 2rem;

  @include media-breakpoint-up(md) {
    bottom: -$size-space-line;
    left: $size-space-line * 6;
    right: auto;
  }
}
