include /pages/base/mixins

div.main-menu
  .qwt-container
    nav.main-menu__inner
      a.main-menu__logo(href="/")
        figure
          img.main-menu__logomark(src=`${site.baseUrl}images/socmedical/components/logo/logomark.svg`, width="40", height="40", alt="Фирменный знак SocMedical")
          figcaption
            img(src=`${site.baseUrl}images/socmedical/components/logo/logotype.svg`, width="115", height="32", alt="Логотип SocMedical")
            div.main-menu__tagline Медицинская социальная&nbsp;сеть

      ul.main-menu__list
        li.main-menu__item
          a.main-menu__link(href='')
            +icon('group')
            span.d-md-none Сообщ.
            span.d-none.d-md-inline Сообщества
        li.main-menu__item
          a.main-menu__link(href='')
            +icon('list')
            | Лента
        li.main-menu__item
          a.main-menu__link(href='')
            +icon('case')
            span.d-md-none Услуги
            span.d-none.d-md-inline Медуслуги
        li.main-menu__item.d-none.d-md-flex
          a.main-menu__link(href='')
            +icon('pills')
            | Маркетплейс
        li.main-menu__item.d-none.d-md-flex
          a.main-menu__link(href='')
            +icon('stethoscope')
            | Специалисты
        li.main-menu__item.d-none.d-lg-flex
          a.main-menu__link(href='')
            +icon('building')
            | Организации
        li.main-menu__item.dropdown(data-dropdown)
          button#navbar-more.main-menu__dropdown-label(type='button' aria-controls='navbar-more-menu' aria-expanded='false' data-dropdown-toggle)
            +icon('arrow-up-circle', 'd-md-none')
            +icon('arrow-right-circle', 'd-none d-md-block')
            | Еще
          ul#navbar-more-menu.dropdown__menu(role="listbox" aria-labelledby="navbar-more" data-dropdown-menu)
            li.d-md-none(role='option')
              a.dropdown__link(href='')
                +icon('pills')
                | Маркетплейс
            li.d-md-none(role='option')
              a.dropdown__link(href='')
                +icon('stethoscope')
                | Специалисты
            li.d-lg-none(role='option')
              a.dropdown__link(href='')
                +icon('building')
                | Организации
            li(role='option')
              a.dropdown__link(href='')
                +icon('calendar')
                | События
            li.d-sm-none.d-md-flex(role='option')
              a.dropdown__link(href='')
                +icon('heart')
                | Программы здоровья
            li.d-sm-none.d-md-flex(role='option')
              a.dropdown__link(href='')
                +icon('ambulance')
                span.d-sm-none Мед. на упреждение
                span.d-none.d-md-inline Медицина на упреждение
            li.d-sm-none.d-md-flex(role='option')
              a.dropdown__link(href='')
                +icon('book')
                | Обучение
