/* stylelint-disable selector-list-comma-newline-after, scss/percent-placeholder-pattern */

// EYEBROW

// Markup: use (p|a).eyebrow, h1-h2, and p.subtitle within header
// https://go.shr.lc/3782CWT

// <header>
//   <p class="eyebrow">Chapter 2</p>
//   <h1>The Battle</h1>
//   <p class="subtitle">Once more unto the breach</p>
// </header>

// <header>
//   <a class="hero__eyebrow" href="/chapter-2">Chapter 2</a>
//   <h1 class="hero__title">The Battle</h1>
//   <p class="hero__subtitle">Once more unto the breach</p>
// </header>

// ⚠️ role="doc-subtitle" is not supported by most screen readers

.eyebrow,
%eyebrow {
  color: $color-primary-text;
  display: block;
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: .05rem;
  line-height: var(--line-height-small);
  text-transform: uppercase;
  margin: 0;
  padding-top: var(--padding-top-small);
  padding-bottom: var(--padding-bottom-small);
}

// -----------------------------------------------------------------------------

// H1 & H2

h1, .h1, %h1,
h2, .h2, %h2 {
  // OpenType kerning
  font-family: $font-family-accent;
  font-feature-settings: 'kern' 1, 'liga' 1;

  @include media-breakpoint-up(mdl) {
    letter-spacing: -.1rem;
  }
}

// H1 and hero titles
h1, .h1, %h1 {
  color: $color-ink-title;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  line-height: var(--line-height-h1);
  margin: 0;
  padding-top: var(--padding-top-h1);
  padding-bottom: var(--padding-bottom-h1);

  // With eyebrow
  header > & {
    margin-top: var(--margin-top-h1-has-eyebrow);
  }
}

// Heading 2
h2, .h2, %h2 {
  color: $color-ink-accent-normal;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
  // Prevent text transformation on h3 styled as h2
  text-transform: none;
  margin: 0;
  padding-top: var(--padding-top-h2);
  padding-bottom: var(--padding-bottom-h2);

  &:not(:first-child):not([class]) {
    margin-top: var(--margin-top-subhead);
  }
}

.h2.is-highlight {
  color: $color-ink-highlight;
}

// -----------------------------------------------------------------------------

// SUBTITLES

.subtitle {
  @extend %h2;
}

// -----------------------------------------------------------------------------

// SUBHEADS

h3, %h3 {
  color: $color-ink-title;
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
  text-transform: uppercase;
  margin: 0;
  padding-top: var(--padding-top-big);
  padding-bottom: var(--padding-bottom-big);

  @include media-breakpoint-up(md) {
    text-transform: none;
  }
}

h3, %h3,
h4, h5, h6 {
  font-weight: 500;
  margin: 0;

  &:not(:first-child):not([class]) {
    margin-top: var(--margin-top-subhead);
  }
}

h4, h5, h6 {
  font-size: 100%;
  line-height: $line-height-base;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);

  &:not(:first-child):not([class]) {
    margin-top: var(--margin-top-subhead);
  }
}
