.border,
%border {
  border-radius: var(--shape-border-radius-base);

  // inline-block should be avoided because it adds extra space around element
  display: table;
  position: relative;
  overflow: hidden;

  // Border
  &::after {
    border-radius: var(--shape-border-radius-base);
    box-shadow: inset 0 0 0 1px var(--color-border-dark);
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:empty {
    display: none;
  }
}

// -----------------------------------------------------------------------------
// FIGURES & IFRAMES
// -----------------------------------------------------------------------------

figure,
iframe {
  margin-top: 0;
  margin-bottom: $size-space-line;
}

figcaption {
  color: var(--color-ink-2ry);
  padding-top: var(--space-padding-top-base);
  padding-bottom: var(--space-padding-bottom-base);
}

// -----------------------------------------------------------------------------
// RESPONSIVE MEDIA
// -----------------------------------------------------------------------------

.embed-responsive {
  display: block;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
  }

  .embed-responsive__item,
  > iframe,
  > embed,
  > object,
  > video {
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.embed-responsive.is-4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}
