.list.is-checklist {
  list-style: none;
  padding-left: $size-space-5;

  > li {
    position: relative;
  }

  > li::before {
    background: var(--asset-data-image-circle-check) no-repeat 0 0;
    content: '';
    position: absolute;
    top: var(----space-padding-top-base);
    left: -$size-space-5;
    width: $size-space-line;
    height: $size-space-line;
  }
}

// -----------------------------------------------------------------------------
// DIRECTORY SUMMARY
// -----------------------------------------------------------------------------

.directory-links {
  list-style: none;
  padding-left: 0;
}

.directory-links__item {
  @extend %standard-focus;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    color: var(--color-ink-primary-text);
    text-decoration: underline;
  }
}

.directory-links__title {
  @extend %text-truncate;

  flex: 1;
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: var(--font-line-height-base);
  padding-top: 0;
  padding-bottom: 0;
  padding-right: $size-space-2;
}

.directory-links__label {
  @extend %text-truncate;

  color: var(--color-ink-2ry);
  flex: 1;
  padding-right: $size-space-2;
}


.directory-links__counter {
  color: var(--color-ink-3ry);
}
