// -----------------------------------------------------------------------------
// AUTHOR AND PUBLICATION DATE
// -----------------------------------------------------------------------------

// LEGACY
.page-header {
  border-bottom: 0;
  min-height: $size-space-4;
}

.post_avatar {
  width: $size-space-4;
  height: $size-space-4 !important;
}

.post_avatar img {
  border: 0;
  object-fit: cover;
}

[src*='profile_nophoto'] {
  display: none;
}

.post_avatar:not(img) {
  background: var(--asset-data-image-user) no-repeat 50% 50%;
  border-radius: 50%;
  position: relative;
  margin-top: -1rem;
  margin-right: $size-space-1;

  &::after {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.page-header [href*='/user/'],
.page-header .date {
  display: inline-block;
  font-size: var(--font-size-small);
  vertical-align: middle;
}

.page-header .date {
  color: var(--color-ink-2ry);
  line-height: var(--font-line-height-small);
  white-space: nowrap !important;
  overflow: hidden;
  margin-left: $size-space-half;
  width: 9ch;
}

.article__header {
  [href*='/user/'] {
    line-height: $size-space-4;
  }

  .page-header .date {
    margin-top: -.2rem;
  }
}

