// -----------------------------------------------------------------------------
// MAIN BOX
// -----------------------------------------------------------------------------
// #region
.hero {
  background-color: $color-bg-alt;
  position: relative;
  padding-top: $size-line * 5;
  padding-left: 2rem;
  padding-right: 2rem;

  @include media-breakpoint-up(md) {
    --hero-container-max-width: 70.4rem;
    display: grid;
    grid-gap: $size-2;
    grid-template-columns:
      calc(calc(100% - var(--hero-container-max-width)) / 2)
      repeat(12, 1fr)
      calc(calc(100% - var(--hero-container-max-width)) / 2);

    padding-top: $size-line * 7;
    padding-left: 0;
    padding-right: 0;
    min-height: 81.6rem;
  }

  @include media-breakpoint-up(mdl) {
    --hero-container-max-width: 99.2rem;
    background-image:
      radial-gradient(
        43.7rem at 43.7rem 43.7rem,
        rgba(255, 255, 255, .48),
        rgba(255, 255, 255, .24) 24%,
        rgba(255, 255, 255, .12) 38%,
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        43.7rem at 43.7rem 43.7rem,
        darken($color-bg-alt, 5%),
        rgba(darken($color-bg-alt, 4%), 0)
      );
    background-position:
      calc(50% - 14.4rem) calc(100% - 21.6rem),
      calc(50% + 52.8rem) calc(100% - 21.6rem);
    background-repeat: no-repeat;
    background-size: 87.4rem;
    overflow-x: hidden;
    padding-top: 0;
    min-height: 74.4rem;
  }

  @include media-breakpoint-up(lg) {
    --hero-container-max-width: 133.4rem;
    min-height: 81.2rem;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// BOTTOM BAR
// -----------------------------------------------------------------------------
// #region

.hero::after {
  background-color: rgba($color-primary, .4);
  background-image: url('/images/socmedical/pattern-oblique.png');
  backdrop-filter: blur(20px);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.2rem;
}
// #endregion

// -----------------------------------------------------------------------------
// IMAGE
// -----------------------------------------------------------------------------
// #region

.hero__picture {
  background-color: $color-primary;
  background-image:
    radial-gradient(
      28.8rem at 28.8rem 28.8rem,
      rgba(255, 255, 255, .48),
      rgba(255, 255, 255, .24) 24%,
      rgba(255, 255, 255, .12) 38%,
      rgba(255, 255, 255, 0)
    ),
    url('/images/socmedical/components/hero/bg-shapes.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 57.6rem, 38.4rem;
  border-radius: $border-radius;
  position: relative;
  margin-bottom: 0;
  height: $size-line * 7;

  @include media-breakpoint-up(md) {
    grid-column: 6 / span 7;
  }

  @include media-breakpoint-up(mdl) {
    background-color: transparent;
    background-image: url('/images/socmedical/components/hero/bg-shapes-lg.svg');
    background-position: ($size-line * 10) ($size-line * 6);
    background-size: auto;
    border-radius: 0;
    display: flex;
    align-items: flex-end;
    grid-column: 8 / span 7;
    grid-row: 1 / 2;
    margin-top: 0;
    height: 100%;
  }
}

.hero__picture > img {
  clip-path: inset(0 0 #{$size-5} 0);
  position: absolute;
  bottom: -$size-5;
  left: $size-line;
  width: auto;
  height: 22.6rem;

  @include media-breakpoint-up(mdl) {
    clip-path: none;
    position: static;
    object-fit: cover;
    object-position: 0 calc(100% + #{$size-line * 3});
    max-width: none;
    height: auto;
  }

  @include media-breakpoint-up(lg) {
    object-fit: cover;
    object-position: $size-line 100%;
    max-width: none;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// COPY
// -----------------------------------------------------------------------------
// #region

.hero__copy {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: $size-line * 2;

  @include media-breakpoint-up(md) {
    align-items: flex-start;
    grid-column: 6 / span 8;
  }

  @include media-breakpoint-up(mdl) {
    grid-column: 5 / span 5;
    grid-row: 1 / 2;
    padding-top: $size-line * 5;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    grid-column: 6 / span 4;
    padding-top: $size-line * 7;
  }
}

.hero__title {
  color: $color-ink-accent-normal;
  font-size: var(--font-size-hero-title);
  font-weight: var(--font-weight-hero-title);
  letter-spacing: -.15rem;
  line-height: var(--line-height-hero-title);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-top: var(--padding-top-hero-title);
  padding-bottom: var(--padding-bottom-hero-title);

  @include media-breakpoint-up(sm) {
    margin-left: 0;
    margin-right: 0;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: $size-1;
    margin-right: -$size-line;
    text-align: left;
  }
}

.hero__copy .is-checklist {
  color: $color-ink-2ry;
  margin-bottom: $size-2;
}

.hero__copy .btn.is-outline {
  display: none;

  @include media-breakpoint-up(mdl) {
    display: inline-flex;
    margin-top: $size-1;

    &:hover {
      background-color: lighten($color-bg-alt, 4%);
    }
  }
}
// #endregion
