picture
  source(media='(max-width: 1023px)' srcset='/images/socmedical/components/hero/family-interracial.png')
  source(media='(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2)' srcset='/images/socmedical/components/hero/family-interracial@2x.png')
  source(media='(min-width: 1024px)' srcset='/images/socmedical/components/hero/family-interracial-lg.png')
  img(src='/images/socmedical/components/hero/family-interracial-lg.png', alt='Международная медицинская социальная сеть')
