picture
  source(media='(max-width: 1023px)' srcset='/images/socmedical/components/hero/family-europeans.png')
  source(media='(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2)' srcset='/images/socmedical/components/hero/family-europeans@2x.png')
  source(media='(min-width: 1024px)' srcset='/images/socmedical/components/hero/family-europeans-lg.png')
  img(src='/images/socmedical/components/hero/family-europeans-lg.png', alt='Международная медицинская социальная сеть')
