.feature {
  text-align: center;
  padding-bottom: $size-space-line * 2 + $size-space-1;
}

.feature__icon {
  background: $color-brand-primary-base;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: $size-space-8;
  height: $size-space-8;

  > .icon {
    fill: var(--color-ink-primary-accent);
  }
}

.feature__title {
  text-transform: none;
  margin-bottom: -$size-space-line;
}

.feature__copy {
  color: var(--color-ink-2ry);
}
