  <!--noindex-->
  <noscript>
    <div class="alert is-warning is-global" role="alert">
      <p>
        <svg class="icon" role="presentation" focusable="false">
          <use href="/app/path/to/theme/img/base/icons/sprite.svg#icon-warning-md"></use>
        </svg>
        В&nbsp;вашем браузере выключен JavaScript, поэтому на&nbsp;сайте могут не&nbsp;работать некоторые элементы интерфейса. Но&nbsp;вы&nbsp;всегда можете <a href="http://www.google.com/adsense/support/bin/answer.py?hl=ru&amp;answer=12654" target="_blank" rel="noopener noreferrer nofollow">включить Javascript</a>.
      </p>
    </div>
  </noscript>
  <!--/noindex-->
