/* stylelint-disable selector-max-id, selector-no-qualifying-type */

// ☝️🧐 This file uses anti-patterns: the `!important` directive and selector
// chains. This is only done to rewrite such anti-patterns in existing code.
// Never repeat this technique. It's always best to refactor and tidy up the code

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region

body {
  &,
  #subscribes,
  .communitydescr,
  b,
  div,
  dl,
  h4,
  ol,
  p,
  ul {
    font-family: $font-family-base !important;
  }

  &,
  #subscribes,
  b,
  dl,
  h4,
  ol,
  p,
  ul {
    font-size: var(--font-size-base) !important;
  }

  b,
  strong {
    font-weight: 500;
  }
}

.bodybg {
  background: transparent !important;
}

main a {
  color: $color-ink-link;
}

a[data-toggle='tooltip']:hover {
  text-decoration: none;
}

// #endregion

// -----------------------------------------------------------------------------
// HEADINGS
// -----------------------------------------------------------------------------
// #region

body h2,
body h3 {
  font-family: $font-family-accent !important;
}

body h2 {
  font-weight: var(--font-weight-h2) !important;
}

h3,
h4 {
  font-weight: bolder !important;
}

h3 {
  color: $color-ink-title;
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
  text-transform: uppercase;
  margin: 0;
  padding-top: var(--padding-top-big);
  padding-bottom: var(--padding-bottom-big);
}

.page-header {
  border-bottom: 0 !important;
  display: flex;
  align-items: center;
  font-weight: normal;

  > h3 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1) !important;
    line-height: var(--line-height-h1) !important;

    @include media-breakpoint-up(md) {
      text-transform: none;
    }
  }

  > a {
    display: inline-block;
    padding-right: $size-half;
  }
}


// #endregion

// -----------------------------------------------------------------------------
// BODY COPY
// -----------------------------------------------------------------------------
// #region

p {
  font-weight: 400 !important;
  margin: 0 !important;
}

main li {
  font-weight: 400 !important;
}
// #endregion

// -----------------------------------------------------------------------------
// LAYOUT
// -----------------------------------------------------------------------------
// #region

.container {
  padding-left: var(--padding-x-container) !important;
  padding-right: var(--padding-x-container) !important;
  width: 100% !important;

  // we iterate over the map $container-max-widths: save the key to the variable
  // $breakpoint, and save the value to the variable $max-width
  @each $breakpoint, $max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      width: $max-width;
      max-width: 100% !important;
    }
  }
}

.header > .container,
.navbar-wrapper > .container {
  background-color: transparent;
  overflow: visible;
}

.containerbg {
  width: 100% !important;

  @include media-breakpoint-up(lg) {
    max-width: #{map-get($grid-breakpoints, 'lg')} !important;
  }
}

.containerbg > .row.affix-row {
  margin: 0;
  padding-top: 12rem;
  padding-left: var(--padding-x-container);
  padding-right: var(--padding-x-container);

  @include media-breakpoint-up(md) {
    padding-top: 19.2rem;
    padding-left: calc(33.333% + .2rem);
    padding-right: $size-4;
  }

  @include media-breakpoint-up(mdl) {
    padding-left: calc(25% + 19px);
  }

  @include media-breakpoint-up(lg) {
    padding-left: calc(33.333% - .2rem);
    padding-right: calc(#{percentage(1/12)} + #{$size-2});
  }
}
// #endregion

// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------
// #region
// Overwrite inline !important directive
#header-search-form .form__control {
  font-size: var(--font-size-base) !important;
  font-weight: normal;
  line-height: var(--line-height-base) !important;
}

.header__buttons {
  margin-bottom: 0;
}

.btn {
  border-radius: $border-radius !important;
  border: 0 !important;
  display: inline-flex !important;
  padding: 0 1.2rem !important;
}
// #endregion

// -----------------------------------------------------------------------------
// NAVBAR
// -----------------------------------------------------------------------------
// #region
.navbar-wrapper > .container {
  max-width: 136.6rem;
  width: auto;
}

.navbar {
  border: 0 !important;
  margin-bottom: 0 !important;

  @include media-breakpoint-up(md) {
    border-radius: $border-radius-lg !important;
    min-height: 65.6rem !important;
  }

  @include media-breakpoint-only(lg) {
    min-height: 73.6rem !important;
  }
}

.navbar__link:hover {
  color: $color-ink-2ry;
}

// #endregion

// -----------------------------------------------------------------------------
// POST COVER
// -----------------------------------------------------------------------------
// #region
.coverbg {
  background-size: cover !important;
  border-radius: $border-radius-lg !important;
  margin-bottom: $size-line * 2 + 2rem;
  padding-top: $size-4;
  padding-bottom: $size-2;
  padding-left: $size-2;
  padding-right: $size-2;
  overflow: hidden;
  position: relative;
  height: auto !important;
  min-height: 312px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &::before {
    background-image: linear-gradient(rgba(darken($color-primary, 40%), .8), rgba(darken($color-primary, 40%), .8));
  }

  &::after {
    background-image: linear-gradient($color-primary, $color-primary);
    mix-blend-mode: color;
  }

  > a {
    display: block;
    text-align: center;
    margin-bottom: $size-line;
    padding-top: 64px;
    position: relative;
    word-break: normal;
    z-index: 1;
  }
}

.communitylogo {
  background-color: #fff !important;
  border-radius: $border-radius !important;
  display: inline-block;
  filter: none !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0;
  left: 50% !important;
  transform: translateX(-50%);
  width: auto !important;
  max-width: calc(100% - 64px) !important;
  height: auto !important;
  max-height: ($size-line * 3);
}

.communityname {
  font-size: var(--font-size-h2) !important;
  line-height: var(--line-height-h2) !important;
  text-shadow: none !important;
  margin: 0 !important;
  padding: var(--padding-top-h2) 0 !important;
  position: static !important;

  @include media-breakpoint-up(md) {
    margin-bottom: 0 0 -14px !important;
  }
}

.communitydescr {
  background: transparent !important;
  color: $color-ink-inverse-normal !important;
  font-size: var(--font-size-big) !important;
  line-height: var(--font-size-big) !important;
  margin: 0 !important;
  opacity: 1 !important;
  padding: 0 !important;
}

#subscribes {
  font-weight: normal !important;
  margin: 0 !important;
  padding-top: 5px;
  position: relative !important;
  top: 0 !important;
  z-index: 1;
}

#btnsubscribe {
  background-color: $color-primary;
  background-image:
    $chevron-right,
    $color-primary-gradient;
  background-position:
    right $size-1 center,
    center center;
  background-repeat: no-repeat, repeat;
  border: 0;
  border-radius: $border-radius;
  display: inline-flex;
  font-size: 100%;
  padding: 0 $size-4 0 $size-2 !important;
  transition: filter $duration-xs;
  width: auto;

  &:hover {
    filter: brightness($hover-brightness);
  }

  &:focus {
    box-shadow: $box-shadow-focus-outline;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// PAGE HEADERS
// -----------------------------------------------------------------------------
// #region

// Byline and avatar

main .page-header:first-of-type {
  margin-bottom: 6px;
}

main .page-header:first-of-type a {
  color: $color-ink-link;

  &:focus {
    outline: none;
  }
}

.post_avatar {
  width: $size-4;
  height: $size-4 !important;
}

.post_avatar:not(img) {
  border-radius: 50%;
  position: relative;
  margin-right: $size-1;

  &::after {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.page-header .date {
  display: inline-block;
  color: $color-ink-2ry;
  overflow: hidden;
  margin-top: -2px;
  margin-left: $size-half;
  width: 9ch;
}
// #endregion

// -----------------------------------------------------------------------------
// MAIN
// -----------------------------------------------------------------------------
// #region

#postcontainer {
  color: var(--color-ink-normal);
  float: none !important;
  font-size: var(--color-ink-base) !important;
  font-weight: normal !important;
  line-height: var(--line-height-base) !important;
  margin-top: 0;
  padding: 0 !important;
  width: 100%;

  > .container {
    padding: 0 !important;
  }
}

.page-header + div:not(.page-header) {
  margin-top: -21px;
}
// #endregion

// -----------------------------------------------------------------------------
// MAIN CONTENT FOOTER
// -----------------------------------------------------------------------------
// #region

.page-footer {
  border-top: 0 !important;
}

// Icons Reset
.glyphicon-thumbs-up,
.glyphicon-thumbs-down,
.glyphicon-eye-open,
.glyphicon-user {
  background-repeat: no-repeat;
  text-shadow: none !important;
  position: static !important;
  width: $size-5;
  height: $size-5;

  &::before {
    display: none;
  }
}

// Report abuse
a[onclick='abusepost()'] {
  display: none;

  @include media-breakpoint-up(md) {
    border: 1px solid $color-error;
    border-radius: $border-radius;
    color: $color-error-text;
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    padding: 0 $size-2;
    transform: translateY(45px);
    transition: background-color $duration-xs;
    height: $size-4;

    &:hover {
      background-color: $color-error-bg;
      text-decoration: none;
    }

    small {
      font-size: var(--font-size-small);
    }
  }
}

// Voting

.postrating {
  font-size: var(--font-size-small) !important;
  text-shadow: none !important;
}

.comment .rating {
  display: inline-flex;
}

font[color='green'] {
  color: $color-success-text;
  font-weight: normal;
}

font[color='red'] {
  color: $color-error-text;
  font-weight: normal;
}

a[onclick^='votepost'] {
  border-radius: $border-radius;
  display: inline-block;
  transition: background $duration-xs;

  &:hover {
    background-color: $color-bg-alt;
    text-decoration: none;
  }
}

.glyphicon-thumbs-up {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7%2011L11%202C11.7956%202%2012.5587%202.31607%2013.1213%202.87868C13.6839%203.44129%2014%204.20435%2014%205V9H19.66C19.9499%208.99672%2020.2371%209.0565%2020.5016%209.17522C20.7661%209.29393%2021.0016%209.46873%2021.1919%209.68751C21.3821%209.90629%2021.5225%2010.1638%2021.6033%2010.4423C21.6842%2010.7207%2021.7035%2011.0134%2021.66%2011.3L20.28%2020.3C20.2077%2020.7769%2019.9654%2021.2116%2019.5979%2021.524C19.2304%2021.8364%2018.7623%2022.0055%2018.28%2022H7%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M7%2022H4C3.46957%2022%202.96086%2021.7893%202.58579%2021.4142C2.21071%2021.0391%202%2020.5304%202%2020V13C2%2012.4696%202.21071%2011.9609%202.58579%2011.5858C2.96086%2011.2107%203.46957%2011%204%2011H7%22%20fill%3D%22%23E9F6EF%22%2F%3E%3Cpath%20d%3D%22M7%2011V22H4C3.46957%2022%202.96086%2021.7893%202.58579%2021.4142C2.21071%2021.0391%202%2020.5304%202%2020V13C2%2012.4696%202.21071%2011.9609%202.58579%2011.5858C2.96086%2011.2107%203.46957%2011%204%2011H7Z%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-position: 50% calc(50% - 2px);
}

.glyphicon-thumbs-down {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16%2013L12%2022C11.2044%2022%2010.4413%2021.6839%209.87868%2021.1213C9.31607%2020.5587%209%2019.7956%209%2019V15H3.34C3.05009%2015.0033%202.76294%2014.9435%202.49843%2014.8248C2.23392%2014.7061%201.99839%2014.5313%201.80814%2014.3125C1.6179%2014.0937%201.47749%2013.8362%201.39666%2013.5577C1.31583%2013.2793%201.29649%2012.9866%201.34%2012.7L2.72%203.7C2.79232%203.22309%203.03457%202.78839%203.40209%202.47599C3.76962%202.1636%204.23767%201.99455%204.72%202H16%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M16%202H19C19.5304%202%2020.0391%202.21071%2020.4142%202.58579C20.7893%202.96086%2021%203.46957%2021%204V11C21%2011.5304%2020.7893%2012.0391%2020.4142%2012.4142C20.0391%2012.7893%2019.5304%2013%2019%2013H16%22%20fill%3D%22%23E9F6EF%22%2F%3E%3Cpath%20d%3D%22M16%2013V2H19C19.5304%202%2020.0391%202.21071%2020.4142%202.58579C20.7893%202.96086%2021%203.46957%2021%204V11C21%2011.5304%2020.7893%2012.0391%2020.4142%2012.4142C20.0391%2012.7893%2019.5304%2013%2019%2013H16Z%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-position: 50% calc(50% + 2px);
}

// Donate
a[href^='/donate'] {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M17.5428%2010.0083L15.9949%2011L14.447%2010.0083C10.2182%207.30088%2010.9921%204.83149%2011.1717%204.36538C11.5545%203.45359%2012.6991%202.89326%2013.887%203.03613C15.0748%203.17901%2015.9634%203.98391%2015.9949%204.94554C16.0181%203.97833%2016.9091%203.16561%2018.1037%203.0221C19.2982%202.8786%2020.4478%203.44619%2020.8243%204.36538C21.0162%204.83149%2021.7716%207.30088%2017.5428%2010.0083Z%22%20fill%3D%22%23E9F6EF%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M2%2014C2%2012.8954%202.89543%2012%204%2012H6V21H4C2.89543%2021%202%2020.1046%202%2019V14Z%22%20fill%3D%22%23E9F6EF%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M6%2019.5L14%2021.5L21%2019C21%2018.3333%2020.6%2017%2019%2017C17.8911%2017%2016.7822%2017%2015.8438%2017M10.5%2016C11.5%2016.5%2012.5%2017%2014%2017C14.4456%2017%2015.0896%2017%2015.8438%2017M15.8438%2017C16.0625%2016.3333%2016%2014.8%2014%2014C12%2013.2%209.5%2012.3333%208.5%2012H6%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-position: 50% calc(50% + -4px);
  background-repeat: no-repeat;
  border-radius: $border-radius;
  display: inline-block;
  vertical-align: middle;
  transition: background $duration-xs;
  width: $size-5;
  height: $size-5;

  &:hover {
    background-color: $color-bg-alt;
    text-decoration: none;
  }

  img {
    display: none;
  }
}

// Stats
a[href^='/donate'] + div {
  display: none !important;


  @include media-breakpoint-up(lg) {
    display: inline-block !important;
    float: none !important;
    font-size: var(--font-size-small);
    margin-top: 0 !important;
    margin-left: $size-line * 3;
  }
}

.glyphicon-eye-open {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%2012C1%2012%205%204%2012%204C19%204%2023%2012%2023%2012C23%2012%2019%2020%2012%2020C5%2020%201%2012%201%2012Z%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M12%2015C13.6569%2015%2015%2013.6569%2015%2012C15%2010.3431%2013.6569%209%2012%209C10.3431%209%209%2010.3431%209%2012C9%2013.6569%2010.3431%2015%2012%2015Z%22%20fill%3D%22%23E9F6EF%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-position: 50% calc(50% - 2px);
}

.glyphicon-user {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20%2021V19C20%2016.7909%2018.2091%2015%2016%2015H8C5.79086%2015%204%2016.7909%204%2019V21%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%227%22%20r%3D%224%22%20fill%3D%22%23E9F6EF%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-position: 50% calc(50% - 2px);
}

// Tags
.post-tag {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
}

.post-tag a {
  background-color: $color-success-bg !important;
  border-radius: $border-radius !important;
  color: $color-success-text !important;
  font-size: var(--font-size-small) !important;
  line-height: var(--line-height-small) !important;
  margin: 0 $size-1 $size-1 0 !important;
  padding: .4rem $size-1 !important;
  transition: $duration-xs $easing !important;

  &:hover {
    filter: brightness(1.05);
  }

  &::before,
  &::after {
    display: none;
  }
}

.post-tag a:last-child {
  margin-right: 0 !important;
}

// Social

.addthis_inline_share_toolbox_lrmc {
  text-align: left !important;
  margin: -27px 0 ($size-line + 1.1rem) !important;
}


.at-style-responsive .at-share-btn {
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: $border-radius !important;
  margin: 0 $size-1 0 0 !important;
  padding: 0 !important;
  width: $size-5;
  height: $size-5;

  &:hover {
    background-color: $color-bg-alt !important;
    transform: none !important;
  }

  .at-icon-wrapper {
    display: none;
  }
}

.at-svc-facebook {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7%2010V14H10V21H14V14H17L18%2010H14V8C14%207.73478%2014.1054%207.48043%2014.2929%207.29289C14.4804%207.10536%2014.7348%207%2015%207H18V3H15C13.6739%203%2012.4021%203.52678%2011.4645%204.46447C10.5268%205.40215%2010%206.67392%2010%208V10H7Z%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
}

.at-svc-telegram {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15%2010L11%2014L17%2020L21%204L3%2011L7%2013L9%2019L12%2015%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
}

.at-svc-vk {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10%206H12V18C7.5%2017%204%2011.5%203%206M20%206C19%208%2017%2011%2015%2012M15%2012H12M15%2012C17%2013%2019%2016%2020%2018%22%20stroke%3D%22%234CB37C%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
}


// #endregion

// -----------------------------------------------------------------------------
// COMMENTS
// -----------------------------------------------------------------------------
// #region
.title-comments {
  display: inline-block;
}

.title-comments + .btn {
  color: $color-primary-text;
  margin-bottom: 2px !important;
}

.comment .media-text {
  padding-left: 50px;
}

.comment-reply .reply {
  color: $color-primary-text;

  img { display: none; }
}

.dropdown-toggle {
  --icon: #{$chevron-down};

  background: rgba(0, 0, 0, 0) var(--icon) no-repeat 50% 50%;
  display: inline-block;
  width: 40px;
  height: 40px;

  .caret,
  .glyphicon {
    display: none;
  }
}

.comment .dropdown-toggle {
  --icon: #{$chevron-up};
}


// #endregion

// -----------------------------------------------------------------------------
// PAGE FOOTER
// -----------------------------------------------------------------------------
// #region
.footer {
  font-size: var(--font-size-base);

  ul {
    font-weight: normal;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// MISC COMPONENTS
// -----------------------------------------------------------------------------
// #region
// Chat button
.online-chat-root {
  opacity: 0 !important;
  pointer-events: none;

  @include media-breakpoint-up(md) {
    opacity: 1 !important;
    pointer-events: auto;
  }
}

#supportTrigger {
  transform: scale(.5) !important;
  right: $size-half !important;
  bottom: $size-half !important;
}

#supportTrigger > .trigger-round-item {
  filter: hue-rotate(-84deg) saturate(154%);

  > .round-trigger-badge {
    transform: scale(1.5) !important;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// HIDE COMPLEXITY
// -----------------------------------------------------------------------------
// #region

// sharing buttons (the 3-item set is the most efficient solution)
.at-svc-messenger,
.at-svc-viber,
.at-svc-whatsapp,
.at-svc-twitter,
.at-svc-skype,
.addthis_inline_share_toolbox_lrmc small,

// Others
.online-chat-root .inner,
.coverbg + div,
div[style='height: 50px'],
#aboutdiv,
.glyphicon-list-alt,
.glyphicon-list-alt + span,
.glyphicon-list-alt + span + a,
p:empty {
  display: none !important;
}
// #endregion
