// MARKUP
// Note that we don’t need to add role="dialog" since BS already add it via JS.
// button.btn.is-primary(type='button', data-bs-toggle='modal', data-bs-target='#modal') Launch modal

// #modal.modal.fade(aria-labelledby='modal-title' tabindex='-1' aria-modal='true' role='dialog' style='display: block;')
//   .modal-dialog
//     .modal__box
//       .modal__header
//         h3#modal-title.modal__title Title
//         button.btn.is-close(type='button' data-bs-dismiss='modal' aria-label='Закрыть')
//           svg.icon(aria-hidden='true' focusable='false')
//             use(href='/path/to/theme/base/graphics/sprite.svg#icon-close')
//       .modal__body
//         | Lorem, ipsum dolor.
//       .modal__footer
//         button.btn.is-primary(type='submit') Submit

$modal-content-bg:                      var(--color-background-base);
$modal-top-offset:                      $size-space-8;
$modal-max-height:                      calc(100vh - $size-space-8 * 2);
$modal-transition:                      transform var(--motion-duration-lg) var(--motion-easing-base);

$modal-header-padding:                  calc(#{$size-space-line} + var(--space-padding-top-subhead-h2)) var(--space-padding-x-box) var(--space-padding-bottom-subhead-h2);
$modal-body-padding:                    0 var(--space-padding-x-box) $size-space-line;
$modal-footer-padding:                  $size-space-2 var(--space-padding-x-box) var(--space-padding-x-box);

// Kill the scroll on the body
.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Container
.modal {
  display: none;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // BS deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--layer-zindex-modal);
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  margin: $size-space-1;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;
  position: relative;
  width: auto;

  // When fading in the modal, animate it to slide down
  .modal.fade & {
    transition: transform var(--motion-duration-base) var(--motion-easing-base);
    transform: translate(0, -$size-space-line * 2);
  }

  .modal.show & {
    transform: none;
  }

  @include media-breakpoint-up(md) {
    margin: ($size-space-line * 2) $size-space-line;
  }
}

.modal-dialog.is-scrollable {
  height: subtract(100%, $size-space-2);

  .modal__box {
    overflow: hidden;
    max-height: 100%;
  }

  .modal__body {
    overflow-y: auto;
  }
}

// Actual modal
.modal__box {
  background-clip: padding-box;
  background-color: $modal-content-bg;
  border-radius: var(--shape-border-radius-lg);
  box-shadow: var(--layer-box-shadow-z5);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  // Remove focus outline from opened modal
  outline: 0;
  // counteract the pointer-events: none; in the .modal-dialog
  pointer-events: auto;
  position: relative;
  // Ensure `.modal__box` extends the full width of the parent `.modal-dialog`
  width: 100%;

  @include media-breakpoint-up(md) {
    max-width: var(--size-width-md);
  }

  @include media-breakpoint-up(xl) {
    max-width: var(--size-width-lg);
  }
}

// Overlay
.modal-backdrop {
  background-color: var(--color-scrim-base);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--layer-zindex-scrim);

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.show { opacity: $modal-backdrop-opacity; }
}

// Modal header
.modal__header {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: $modal-header-padding;
}

// Title text within header
.modal__title {
  @extend %h2;

  padding: 0;
}

// Modal body
// Where all modal content resides (sibling of .modal__header and .modal__footer)
.modal__body {
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when there should be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  position: relative;
  padding: $modal-body-padding;
}

// Footer (for actions)
.modal__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  // Right align buttons with flex property because text-align doesn't work on flex items
  justify-content: flex-end;
  padding: $modal-footer-padding;
}

.modal__footer.has-dual-purpose {
  justify-content: space-between;
}

.modal__footer.is-centered {
  justify-content: center;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  overflow: scroll;
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
}

//------------------------------------------------------------------------------
// THE SPECIALS
// -----------------------------------------------------------------------------

.article__promotion {
  z-index: var(--layer-zindex-modal);

  p,
  .modal__title {
    text-align: center;
  }
}

.article__promotion .dm-cell {
  padding: $size-space-line $size-space-1;

  @include media-breakpoint-up(md) {
    padding: 0 $size-space-line;
  }
}

.article__promotion .dm-modal {
  border-radius: var(--shape-border-radius-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.9rem var(--space-padding-x-container) $size-space-4;
  max-width: 30.4rem;

  @include media-breakpoint-up(sm) {
    max-width: var(--size-width-lg);
  }

  @include media-breakpoint-up(md) {
    border-radius: var(--shape-border-radius-lg);
  }
}

// Picture selection

.modal__pic-selector {
  white-space: nowrap;
  margin: 2px;
  vertical-align: middle;
  width: 100%;
}

.modal__pic-selector > img {
  max-width: 100%;
  max-height: 300px;
}

.modal__pic-selector-btn {
  display: inline-block;
}

.modal__pic-loader {
  display: none;
}

// Close
.dm-modal {
  position: relative;
}

.dm-modal .btn.is-close {
  position: absolute;
  top: $size-space-2;
  right: $size-space-2;
}
