block config
  include /pages/base/config

doctype html
html(lang=site.lang, prefix='og: http://ogp.me/ns#')
  head

    block head
      if page.init
        include /pages/base/head-init
      else
        include /pages/base/head

  body(class=page.bodyClasses || false)
    block bodyPrefix
      include /pages/base/body-prefix

    block header
      include /components/header/header

    block nav
      include /components/navbar/navbar

    //- Content ----------------------------------------------------------------
    block content

    block footer
      include /components/footer/footer

    block bodySuffix
      unless page.init
        include /components/modal/modal

    block scripts
      //- script(src=`${site.baseUrl}js/plugins.js`)
      script(src=`${site.baseUrl}js/socmedical/main.js`)
