block config
  include /pages/base/config

doctype html
html(lang=site.lang)
  head

    block head
      include /pages/base/head

  body(class=bodyClasses || false)
    block bodyPrefix
      include /pages/base/body-prefix

    block header
      include /components/header/header

    block nav
      include /components/navbar/navbar

    //- Content ----------------------------------------------------------------
    block content

    block footer
      include /components/footer/footer

    block bodySuffix
      include /components/modal/modal

    block scripts
      //- script(src='/js/plugins.js')
      script(src='/js/socmedical/main.js')
