//-  Modal
.modal.fade#modal(tabindex='-1' role='dialog' aria-label='Трейлер-тизер' aria-hidden='true')
.modal-dialog(role='document')
  .modal__content
    .modal__body
      iframe(width='740' height='416' src='https://www.youtube.com/embed/pSu0XP5Pgb8?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0' allow='accelerometer; autoplay; encrypted-media; gyroscope' allowfullscreen)
      button.modal__close(type='button' data-dismiss='modal' aria-label='Close')
        svg.icon(aria-hidden='true' focusable='false')
          use(href='/img/base/graphics/sprite.svg#icon-close-xs')
