-
  var site = {
    lang: 'ru',
    title: 'SocMedical',
    desc: 'Международная медицинская социальная сеть',
    domain: 'socmedical.com',
    link: 'https://socmedical.com/',
    baseUrl: '/project12/',
    img: '/images/socmedical/socmedical.png',
    icon: {
      lg: '/images/socmedical/base/graphics/icon.png',
      svg: '/images/socmedical/base/graphics/icon.svg'
    },
    color: '#4cb37c',
    fonts: 'Inter:wght@400;500',
    coreCss: 'http://localhost:9000/css/core/b2b.css',
    css: 'http://localhost:9000/css/socmedical/style.css',
    facebookAdmins: '506386402',
    fbAppId: '576941276043079',
    twitter: 'Сообщество собирателей инвестиций',
    gtm: false,
    author: '@qwertynetworks'
  }

-
  var company = {
    title: 'SocMedical',
    logo: '/images/socmedical/socmedical-logo.png',
    city: 'Moscow',
    region: 'Moscow',
    postalCode: 127000,
    country: 'Russia',
    phone: '‭+7 (925) 718-79-67‬',
    social: {
      facebook: 'socmedical'
    }
  }

- var currentYear = new Date().getFullYear();
