include /pages/base/mixins

form#search-drawer.search-drawer(action='/search' method='get')
  .form__item
    input.form__control(name='q' type='search' dir='auto' autocomplete='off' aria-label='Искать на сайте' placeholder='Поиск')
    //- input#header-search-input.form-control(type='text' dir='auto' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' aria-autocomplete='list' aria-expanded='true' aria-owns='search suggestions' aria-label='Искать на сайте' placeholder='Поиск')
    button.search-drawer__submit(type='submit' disabled aria-label='Submit Search')
      +icon('search')
  button.search-drawer__cancel(type='reset', data-search-cancel) Отмена
#search-scrim.scrim

header#header.header

  .qwt-container
    a.d-md-none(href="/")
      img(src=`${site.baseUrl}images/socmedical/components/logo/logomark.svg`, width="40", height="40", alt="Фирменный знак SocMedical")
      span.sr-only SocMedical — первая страница

    form#header-search-form.header__search(action='/search' method='get')
      .form__item
        input#header-search-input.form__control(name='q' type='search' dir='auto' autocomplete='off' aria-label='Искать на сайте' placeholder='Поиск')
        //- input#header-search-input.form-control(type='text' dir='auto' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false' aria-autocomplete='list' aria-expanded='true' aria-owns='search suggestions' aria-label='Искать на сайте' placeholder='Поиск')
        button#header-search-submit.header__search-submit(type='submit' disabled aria-label='Submit Search')
          +icon('search')

    ul.header__buttons
      li
        a.header__btn-sign-up(href='javascript:void(0)', onclick='loginform()')
          span.d-md-none Регистрация
          span.d-none.d-md-inline Зарегистрироваться
          +icon('chevron-right', 'is-right')
      li
        a.header__btn-sign-in(href='javascript:void(0)', onclick='quickreg()')
          span.d-md-none Вход
          span.d-none.d-md-inline Войти
          +icon('chevron-right', 'is-right')
      li.header__btn-search-slot
        a.btn.is-outline.is-compact(href='/search' role='button' data-search-btn aria-haspopup='true' aria-label='Искать на сайте')
          +icon('search')


