.blockquote {
  font-family: $font-family-accent;
  font-size: var(--font-size-big);
  font-weight: 500;
  letter-spacing: -.05rem;
  line-height: var(--line-height-big);
  position: relative;

  &::before {
    color: $color-ink-2ry;
    content: '\00ab';
    font-size: var(--font-size-h2);
    position: absolute;
    top: -2.2rem;
    left: -$size-3;
  }
}
