<!DOCTYPE html>
<html lang="{$lng_html}" prefix="og: http://ogp.me/ns#">
<head>
<title>{$meta_title}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="{$meta_description}"/>
{$meta_keywords}
{$meta_robots}
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{$yaverification}{$gverification}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="{$blog_name}"/>
<meta name="twitter:title" content="{$meta_title}">
<meta name="twitter:description" content="{$meta_description}"/>
<meta name="twitter:creator" content="{$blog_settings[twittercreator]}"/>
<meta name="twitter:image:src" content="{$ogimage_small}"/>
<meta name="twitter:domain" content="{$thisdomain}"/>

<meta property="og:locale" content="{$lng_html}"/>
{$ogtype}
<meta property="og:title" content="{$meta_title}"/>
<meta property="og:description" content="{$meta_description}"/>
<meta property="og:image" content="{$meta_ogimage}"/>
{$ogimagesize}
<meta property="og:url" content="{$thispageurl_lng}"/>
<meta property="og:site_name" content="{$meta_title}"/>
<meta property="og:see_also" content="{$main_href}"/>
<meta property="fb:app_id" content="{$fb_app_id}" />

<base href="{$base_href}">
{$canonical}
{$schemaorg}
<link rel="icon" href="{$thisurl}/favicon.png" type="image/x-icon">
<link rel="Shortcut Icon" href="{$thisurl}/favicon.png" type="image/x-icon" />
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/jquery.toast.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/main.css" rel="stylesheet">{$projectcss}
<style>
{$blog_css}
</style>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.toast.min.js"></script>
<script src="/js/bootpopup.js"></script>
<script src='/js/tinymce/tinymce.min.js'></script>
<script src='/js/tinymce/jquery.tinymce.min.js'></script>
<link rel="stylesheet" href="/js/tinymce/plugins/codesample/prism.css">
<script src="/js/tinymce/plugins/codesample/prism.js"></script>
<script src="/js/jquery-smartphoto.min.js"></script>
<script src="/js/jquery.raty.js"></script>
<script src="/js/qwerty.js"></script>
<link rel="stylesheet" href="/js/revealator/fm.revealator.jquery.css">
<script src="/js/revealator/fm.revealator.jquery.js"></script>
<script type="text/javascript" src="/js/jquery.typeahead.min.js" charset="UTF-8"></script>
<link href="/css/jquery.typeahead.css" rel="stylesheet" type="text/css">
<script>
  function js_translate(str) {
  if (str == '{$phraseclose}') { str = '{$btn_close}'; }
  if (str == 'Close') { str = '{$btn_close}'; }
  if (str == '{$phraseok}') { str = '{$btn_ok}'; }
  if (str == '{$phrasecancel}') { str = '{$btn_cancel}'; }
  if (str == '{$phraseyes}') { str = '{$btn_yes}'; }
  if (str == '{$phraseno}') { str = '{$btn_no}'; }
  return str;
  }
  function cleanfilter() {
    var cclist = document.querySelector('#cclist');
    cclist.selectedIndex = 0;
    document.getElementById('memberregion').value = '';
    document.getElementById('memberregion_lng').value = '';
    document.getElementById('membersearch').value = '';
    changetype();
  }
  function getposts() {
    loadingposts = 1;
    document.getElementById('loadingposts').style.display = 'block';
    $(".endposts").removeClass("endposts");
    $.ajax({
      url: 'getposts.php',
      type: 'GET',
      async: true,
      data: {community: '{$community}', publishtime: publishtime, attached: attached, blogcatid: '{$blog_cat_id}', blogtag: '{$blog_tag}', blogdate: '{$blog_date}', blogsearch: '{$blog_search}', byuid: {$byuid}, posttype: '0,1'},
      success: function(response) {
        loadingposts = 0;
        if (publishtime == 0)
        {
          $('#postsblock').html(response);
        }
        else
        {
          $('#postsblock').append(response);
        }
        document.getElementById('loadingposts').style.display = 'none';
        $('[data-toggle="tooltip"]').tooltip();
        showposts();
        if(typeof RePositions == 'function') {
          RePositions();
        }
      },
      error: function(response) {
        getposts();
      },
      timeout: 10000
    });
  }
  function showposts() {
    if (loadingposts == 0 && currenttab == 'maintab')
    {
      var posTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
      for(var i=0;i<$('.endposts').get().length;i++)
      {
        var coordstop = $('.endposts:eq(' + i + ')').offset().top;
        var windowHeight = screen.height;
        if (coordstop<windowHeight+posTop+1000 || publishtime == 0)
        {
          getposts();
        }
      }
    }
  }
  function fromunixtime() {
    for(var i=0;i<$('.commentd').get().length;i++)
    {
      datetext = $('.commentd:eq(' + i + ')').text();
      if (datetext.indexOf('unixtime') + 1)
      {
        datetext = datetext.replace('unixtime','');
        $('.commentd:eq(' + i + ')').text(timestamp2date(datetext));
        $('.commentdiff:eq(' + i + ')').text();
      }
    }
    $(".commentd").removeClass("commentd");
    $(".commentdiff").removeClass("commentdiff");
  }
  function getcomments(startid) {
    loadingcomments = 1;
    $.ajax({
      url: 'getcomments.php',
      type: 'GET',
      async: false,
      data: {object_id: 'blog{$blog_id}', startid: startid, gocomment: gocomment, community: '{$community}' },
      success: function(response) {
        document.getElementById('loadingcomments').style.display = 'none';
        if (startid == 0)
        {
          $('#commentsblock').html(response);
        }
        else
        {
          $('#commentsblock').append(response);
        }
        fromunixtime();
        loadingcomments = 0;
        showcomments();
        $('[data-toggle="tooltip"]').tooltip();
      },
      error: function(response) {
        getcomments(startid);
      },
      timeout: 10000
    });
  }
  function showcomments() {
    if (loadingcomments == 0)
    {
      for(var i=0;i<$('.endcomments').get().length;i++)
      {
        fromid = $('.endcomments:eq(' + i + ')').attr('id');
        var coordstop = $('.endcomments:eq(' + i + ')').offset().top;
        var posTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
        var windowHeight = screen.height;
        if (coordstop<windowHeight+posTop+3000)
        {
          $(".endcomments").removeClass("endcomments");
          getcomments(fromid);
        }
      }
    }
  }
  function copycommentlink(commentid) {
    url = '{$thispageurl_lng}#comment'+commentid;
    bootpopup({
      title: "Link to comment",
      content: [
      '<p>Highlight and copy this link:</p>',
      '<input id="commenturl" type="text" style="width: 100%; line-height: 1.5em; font-size: 1em" value="'+url+'" onclick="$(this).select();" readonly>'
        ],
      ok: function(data, array, event) { return false; }
    });
  }
  function votecomment(commentid,objectid,votemode) {
    if (votemode == 1)
    {
      if (document.getElementById('pluscount'+commentid).innerHTML == '&nbsp;')
      {
        document.getElementById('pluscount'+commentid).innerHTML = 0;
      }
      if ( $('#thumbsup'+commentid).hasClass('vote') )
      {
        $('#thumbsup'+commentid).removeClass('vote');
        $('#thumbsup'+commentid).addClass('votedplus');
        document.getElementById('pluscount'+commentid).innerHTML = document.getElementById('pluscount'+commentid).innerHTML * 1 + 1;
      }
      else if ( $('#thumbsup'+commentid).hasClass('votedplus') )
      {
        $('#thumbsup'+commentid).removeClass('votedplus');
        $('#thumbsup'+commentid).addClass('vote');
        document.getElementById('pluscount'+commentid).innerHTML = document.getElementById('pluscount'+commentid).innerHTML * 1 - 1;
      }
      if ( $('#thumbsdown'+commentid).hasClass('votedminus') )
      {
        $('#thumbsdown'+commentid).removeClass('votedminus');
        $('#thumbsdown'+commentid).addClass('vote');
      }
    }
    if (votemode == 0)
    {
      if (document.getElementById('minuscount'+commentid).innerHTML == '&nbsp;')
      {
        document.getElementById('minuscount'+commentid).innerHTML = 0;
      }
      if ( $('#thumbsdown'+commentid).hasClass('vote') )
      {
        $('#thumbsdown'+commentid).removeClass('vote');
        $('#thumbsdown'+commentid).addClass('votedminus');
        document.getElementById('minuscount'+commentid).innerHTML = document.getElementById('minuscount'+commentid).innerHTML * 1 + 1;
      }
      else if ( $('#thumbsdown'+commentid).hasClass('votedminus') )
      {
        $('#thumbsdown'+commentid).removeClass('votedminus');
        $('#thumbsdown'+commentid).addClass('vote');
        document.getElementById('minuscount'+commentid).innerHTML = document.getElementById('minuscount'+commentid).innerHTML * 1 - 1;
      }
      if ( $('#thumbsup'+commentid).hasClass('votedplus') )
      {
        $('#thumbsup'+commentid).removeClass('votedplus');
        $('#thumbsup'+commentid).addClass('vote');
        document.getElementById('pluscount'+commentid).innerHTML = document.getElementById('pluscount'+commentid).innerHTML * 1 - 1;
      }
    }
    $.post( "./commentvote.php", { checkID: {$startruntime}, commentid: commentid, object_id: objectid, votemode: votemode, community: '{$community}' })
      .done(function( data ) {
      data = $.parseJSON(data);
      if (data[0] == 'plus' || data[0] == 'minus' || data[0] == 'none')
      {
        if (data[0] == 'plus')
        {
          if ( $('#thumbsup'+commentid).hasClass('vote') )
          {
            $('#thumbsup'+commentid).removeClass('vote');
          }
          $('#thumbsup'+commentid).addClass('votedplus');
          if ( $('#thumbsdown'+commentid).hasClass('votedminus') )
          {
            $('#thumbsdown'+commentid).removeClass('votedminus');
          }
          $('#thumbsdown'+commentid).addClass('vote');
        }
        if (data[0] == 'minus')
        {
          if ( $('#thumbsdown'+commentid).hasClass('vote') )
          {
            $('#thumbsdown'+commentid).removeClass('vote');
          }
          $('#thumbsdown'+commentid).addClass('votedminus');
          if ( $('#thumbsup'+commentid).hasClass('votedplus') )
          {
            $('#thumbsup'+commentid).removeClass('votedplus');
          }
          $('#thumbsup'+commentid).addClass('vote');
        }
        if (data[0] == 'none')
        {
          if ( $('#thumbsup'+commentid).hasClass('votedplus') )
          {
            $('#thumbsup'+commentid).removeClass('votedplus');
          }
          $('#thumbsup'+commentid).addClass('vote');
          if ( $('#thumbsdown'+commentid).hasClass('votedminus') )
          {
            $('#thumbsdown'+commentid).removeClass('votedminus');
          }
          $('#thumbsdown'+commentid).addClass('vote');
        }
        document.getElementById('pluscount'+commentid).innerHTML = '&nbsp;';
        document.getElementById('minuscount'+commentid).innerHTML = '&nbsp;';
        if (data[1] > 0 && data[1]-1 > 0)
        {
          document.getElementById('pluscount'+commentid).innerHTML = data[1]-1;
        }
        if (data[2] > 0 && data[2]-1 > 0)
        {
          document.getElementById('minuscount'+commentid).innerHTML = data[2]-1;
        }
      }
    });
  }
  function savecomment(replytoid,commentid) {
    tinyMCE.triggerSave();
    if (commentid < 0)
    {
      commentid = document.getElementById('editcommentid').value;
    }
    commentscore = 0;
    if (replytoid == 0)
    {
      commentscore = document.getElementById('commentscore').value;
      if (commentscore == 0)
      {
        bootpopup.alert('Please rate from 1 to 5 points!','Please note');
        return;
      }
    }
    if (commentid == 0)
    {
      var comment = $('#editor').val();
      document.getElementById('savecomment').style.display = 'none';
    }
    else
    {
      var comment = $('#commenteditor').val();
    }
    if (comment.length < 5)
    {
      document.getElementById('savecomment').style.display = 'inline-block';
      bootpopup.alert('The minimum length of the comment - 5 characters.','Please note');
      return;
    }
    $.post( "./savecomment.php", { comment: comment, object_id: 'blog{$blog_id}', replytoid: replytoid, commentid: commentid, commentscore: commentscore, checkID: {$startruntime}, community: '{$community}', thispageurl: '{$thispageurl}' })
      .done(function( data ) {
      if (data > 0)
      {
        if (commentid > 0)
        {
          document.getElementById('textcomment'+commentid).innerHTML = comment;
          if (commentscore > 0)
          {
            location.reload();
          }
        }
        else
        {
          replyto(0);
          $.ajax({
            url: 'getcomments.php',
            type: 'GET',
            async: true,
            data: {object_id: 'blog{$blog_id}', commentid: data, community: '{$community}' },
            success: function(response) {
              if (replytoid > 0)
              {
                $('div.comment'+replytoid+':first').after(response);
              }
              else
              {
                $('#replyto0').after(response);
              }
              fromunixtime();
              $(".js-smartPhoto").SmartPhoto();
            },
            error: function(response) {
              location.href='{$thispageurl}';
            }
          });
        }
        lastcommentedit = 0;
      }
      else
      {
        bootpopup.alert(data,'Please note');
      }
      if (commentid == 0)
      {
        document.getElementById('savecomment').style.display = 'inline-block';
      }
    });
  }
  function deletecomment(commentid) {
    var allcomments = 0;
    authorname = document.getElementById('author'+commentid).innerHTML;
    bootpopup({
      title: 'Delete comment'+' #'+commentid,
      content: [
      'Are you sure you want to delete this comment?<br />',
      '<label><input id="allcomments" name="allcomments" type="checkbox"> Delete all comments <b>'+authorname+'</b></label><br />'
        ],
      cancel: function(data, array, event) { return false; },
      ok: function(data, array, event) {
        if (data.allcomments == 'on')
        {
          var allcomments = 1;
        }
        else
        {
          $("div.comment"+commentid).remove();
        }
        replyto(0);
        $.post( "./removecomment.php", { checkID: {$startruntime}, object_id: 'blog{$blog_id}', commentid: commentid, allcomments: allcomments, community: '{$community}' })
          .done(function( data ) {
        });
        if (allcomments == 1)
        {
          getcomments(0);
        }
      }
    });
  }
  function replyto(commentid) {
    tinymce.remove();
    document.getElementById('replyto'+lastcommentedit).innerHTML = '';
    document.getElementById('commentscore').value = 0;
    if (commentid == 0)
    {
      document.getElementById('postcomment').style.display = 'none';
      ratediv = '<div style="text-align:left;">Rate this: <div id="ratestars" style="display:inline-block;"></div></div>';
    }
    else
    {
      document.getElementById('postcomment').style.display = 'inline-block';
      ratediv = '';
    }
    lastcommentedit = commentid;
    document.getElementById('replyto'+commentid).innerHTML = ratediv + '<textarea id="editor"></textarea><button id="savecomment" type="button" class="btn btn-primary" style="display: inline-block; margin-top: 5px; margin-bottom: 10px;" onclick="savecomment('+ commentid +',0);">Save comment</button><br />';
    $('#ratestars').raty({
      cancel      : true,
      cancelHint  : 'Do not rate',
      cancelPlace : 'right',
      hints		  : ["it's disgusting", "it's bad", "so-so", "it's good", "it's perfectly"],
      click       : function(score, evt) {
      document.getElementById('commentscore').value = score;
      }
    });
    $('[data-toggle="tooltip"]').tooltip();
    activeEditor = tinymce.init({
      selector: '#editor',
      toolbar: 'undo redo | tinymceEmoji | link myimage media | ltr rtl',
      plugins: "autoresize advlist autolink link imagetools media visualblocks visualchars tinymceEmoji directionality",
      autoresize_bottom_margin: 30,
      emoji_add_space: true,
      emoji_show_subgroups: false,
      emoji_show_tab_icons: true,
      paste_as_text: true,
      branding: false,
      menubar:false,
      relative_urls: false,
      remove_script_host: true,
      statusbar: false,
      image_advtab: false,
      force_p_newlines: false,
      invalid_styles: 'color font-size',
      remove_trailing_brs: false,
      forced_root_block: false,
      keep_styles: false,
      {$tinymcelng}
      invalid_elements: 'p,span,lang,strong,b',
      setup: function (editor) {
        editor.addButton('myimage', {
          text: false,
          icon: 'image',
          tooltip: "Upload image",
          onclick: function () {
          addpicture(-1);
          }
        });
      }
    });
    $('#editor').html('');
  }
  function addpicture(fileid) {
    insmode = fileid;
    document.getElementById('editphoto').src = './images/no-image.png';
    document.getElementById('filename').value = '';
    document.getElementById('photo_b64').value = '';
    document.getElementById('PhotoFile').value = '';
    document.getElementById('description').value = '';
    document.getElementById('saveimgbutton').disabled = false;
    document.getElementById('cancelimgbutton').disabled = false;
    document.getElementById('loadingphoto').style.display = 'none';
    document.getElementById('selectfile').style.display = 'inline-block';
    document.getElementById('deletediv').style.display = 'none';
    if (insmode == -1)
    {
      document.getElementById('saveimgbutton').innerHTML = 'Insert image';
    }
    else
    {
      document.getElementById('saveimgbutton').innerHTML = 'Save changes';
    }
    $("#newpicture").appendTo("body").modal('show');
  }
  function showeditphoto() {
    var image = $("#PhotoFile");
    if (image[0].files && image[0].files[0]) {
      resizeFile(image[0].files[0], $('#editphoto'), $('#photo_b64'))
    }
  }
  function resizeFile(file, editphoto, b64field) {
    document.getElementById('loadingphoto').style.display = 'block';
    var reader = new FileReader();
      reader.onloadend = function () {
          var tempImg = new Image();
          tempImg.src = reader.result;
          tempImg.onload = function () {
              var tempW = tempImg.width;
              var tempH = tempImg.height;
              imgcrop(this, tempW, tempH, 900, 600, b64field);
              $(editphoto).attr('src', $(b64field).val());
        document.getElementById('loadingphoto').style.display = 'none';
        }
      }
      reader.readAsDataURL(file);
  }
  function imgcrop(image, tempW, tempH, maxW, maxH, elem) {
    var sourceX = 0;
    var sourceY = 0;
    var destWidth = tempW;
    var destHeight = tempH;
    if (tempW > maxW)
    {
      var destWidth = maxW;
      var destHeight = destHeight * (maxW/tempW);
    }
    if (destHeight > maxH)
    {
      var destWidth = tempW;
      var destHeight = tempH;
      var destHeight = maxH;
      var destWidth = destWidth * (maxH/tempH);
    }
    var destX = 0;
    var destY = 0;

    var canvas = document.createElement('canvas');
    canvas.width = destWidth;
    canvas.height = destHeight;

    var ctx = canvas.getContext("2d");
    ctx.fillStyle = "#FFFFFF";
      ctx.fillRect(0, 0, destWidth, destHeight);
    ctx.drawImage(image, sourceX, sourceY, tempW, tempH, destX, destY, destWidth, destHeight);
    var dataURL = canvas.toDataURL("image/jpeg");
    $(elem).val(dataURL);
  }
  function saveimage() {
    var photo_b64 = document.getElementById('photo_b64').value;
    var filename = document.getElementById('filename').value;
    var description = document.getElementById('description').value;
    if (photo_b64 == '' && filename == '')
    {
      return;
    }
    document.getElementById('saveimgbutton').disabled = true;
    document.getElementById('cancelimgbutton').disabled = true;
    document.getElementById('loadingphoto').style.display = 'block';
    $.post( "./loadpictures.php", { photo_b64: photo_b64, filename: filename, description: description, object_id: 'blogcomments{$blog_id}' })
      .done(function( data ) {
      if(!(data.indexOf('.jpg') + 1) && data != 'OK')
      {
        document.getElementById('saveimgbutton').disabled = false;
        document.getElementById('cancelimgbutton').disabled = false;
        document.getElementById('loadingphoto').style.display = 'none';
        bootpopup.alert(data,'Error');
      }
      else
      {
        document.getElementById('saveimgbutton').disabled = false;
        document.getElementById('cancelimgbutton').disabled = false;
        document.getElementById('loadingphoto').style.display = 'none';
        $("#newpicture").modal('hide');
        if (insmode == -1)
        {
          tinyMCE.activeEditor.insertContent('<a href="/'+data+'" class="js-smartPhoto" target="_blank"><img style="max-width: 90%; max-height: 250px; margin: 5px;" src="/'+data+'" /></a><br />&nbsp;');
          tinyMCE.activeEditor.focus();
        }
      }
    });
  }
  function editcomment(commentid) {
    document.getElementById('commentscore').value = 0;
    textcomment = document.getElementById('textcomment'+commentid).innerHTML;
    document.getElementById('editcommentid').value = commentid;
    commentscore = document.getElementById('score'+commentid).value;
    if (commentscore > 0)
    {
      document.getElementById('commentscore').value = commentscore;
      $('#editstarsdiv').remove();
      $('#commenteditor').before('<div id="editstarsdiv" style="text-align:left;">Rate this: <div id="editstars" style="display:inline-block;"></div></div>');
      $('#editstars').raty({
        score		  : commentscore,
        cancel      : true,
        cancelHint  : 'Do not rate',
        cancelPlace : 'right',
        hints		  : ["it's disgusting", "it's bad", "so-so", "it's good", "it's perfectly"],
        click       : function(score, evt) {
        document.getElementById('commentscore').value = score;
        }
      });
      $('[data-toggle="tooltip"]').tooltip();
    }
    $('#editcomment').appendTo("body").modal('show');
    if (edited)
    {
      tinymce.remove('#commenteditor');
    }
    activeEditor = tinymce.init({
      selector: '#commenteditor',
      toolbar: 'undo redo | tinymceEmoji | link myimage media | ltr rtl',
      plugins: "advlist autolink link imagetools media visualblocks visualchars tinymceEmoji directionality",
      emoji_add_space: true,
      emoji_show_subgroups: false,
      emoji_show_tab_icons: true,
      paste_as_text: true,
      branding: false,
      menubar:false,
      statusbar: false,
      image_advtab: false,
      relative_urls: false,
      remove_script_host: true,
      force_p_newlines: false,
      invalid_styles: 'color font-size',
      remove_trailing_brs: false,
      forced_root_block: false,
      keep_styles: false,
      {$tinymcelng}
      invalid_elements: 'p,span,lang,strong,b',
      setup: function (editor) {
        editor.addButton('myimage', {
          text: false,
          icon: 'image',
          tooltip: "Upload image",
          onclick: function () {
          addpicture(-1);
          }
        });
      }
    });
    edited = true;
    tinyMCE.activeEditor.setContent(textcomment);
  }
  function abusecomment(commentid) {
    if (!{$user_id})
    {
      loginform();
      return;
    }
    url = '{$thispageurl_lng}&reviews#comment'+commentid;
    authorname = document.getElementById('author'+commentid).innerHTML;
    bootpopup({
      title: "Report abuse",
      content: [
      'Comment #<b>'+commentid+'</b><br />',
      'User: <b>'+authorname+'</b><br />',
      'A description of the problem or the essence of the claims:',
      { textarea: {name: "abusetext", id: "abusetext", style: "width: 100%; height: 100px;"}}
        ],
      cancel: function(data, array, event) { return false; },
      ok: function(data, array, event) {
        abusetext = data.abusetext;
        if (abusetext.length>0)
        {
          $.post( "./abuse.php", { checkID: {$startruntime}, postid: 0, commentid: commentid, abusetext: abusetext, url: url, community: '{$community}' })
            .done(function( data ) {
            bootpopup.alert(data,'Please note');
          });
        }
        else
        {
          bootpopup.alert('Please describe the essence of the claims','Please note ');
        }
      }
    });
  }
  function getmembers() {
    if (loadingmembers == 0)
    {
      loadingmembers = 1;
      membersearch = document.getElementById('membersearch').value;
      document.getElementById('loadingmembers').style.display = 'block';
      country = document.getElementById('cclist').value;
      memberregion = document.getElementById('memberregion').value;
      memberregion_lng = document.getElementById('memberregion_lng').value;
      $(".endmembers").remove();
      $.ajax({
      url: 'getmembers.php',
      type: 'POST',
      async: true,
      data: {lasteventtime: lasteventtime, membersearch: membersearch, country: country, memberregion: memberregion, memberregion_lng: memberregion_lng, membersof: {$blog_id}},
      success: function(response) {
        if (lasteventtime == 0)
        {
          $('#membersblock').html(response);

        }
        else
        {
          $('#membersblock').append(response);

        }
        loadingmembers = 0;
        document.getElementById('loadingmembers').style.display = 'none';
        document.getElementById('typesdiv').disable = false;
        //showmembers();
      },
      error: function(response) {
        loadingmembers = 0;
        getmembers();
      }
      });
    }
  }
  function showmembers() {
    if (loadingmembers == 0)
    {
      var posTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
      for(var i=0;i<$('.endmembers').get().length;i++)
      {
        var coordstop = $('.endmembers:eq(' + i + ')').offset().top;
        var windowHeight = screen.height;
        if (coordstop<windowHeight+posTop+1000 || publishtime == 0)
        {
          getmembers();
        }
      }
    }
  }
  function searchcities(country_code) {
    $('.typeahead__result').remove();
    $.typeahead({
    input: '.cities',
    minLength: 1,
    order: "asc",
    cache: false,
    maxItem: false,
    offset: true,
    source: {
      ajax: {
        type: "POST",
        url: "/json.php",
        data: {
          country_code: country_code, user_lng: '{$user_lng}'
        }
      }
    },
    callback: {
      onClick: function (node, a, item, event) {
        $('#memberregion_lng').val(item.display);
        checkregion();
      }
    }
    });
  }
  function changetype() {
    country = document.getElementById('cclist').value;
    searchcities(country);
    if (country != '')
    {
      $('#citydiv').show();
    }
    else
    {
      $('#citydiv').hide();
    }
    if (loadingmembers == 0)
    {
      setTimeout(function() {
        lasteventtime = 0;
        getmembers();
      }
      ,500);
    }
  }
  function delsubscr(uid) {
    bootpopup({
      title: "Please note",
      content: [
      'Are you sure you want to cancel the subscription for the selected user?'
        ],
      cancel: function(data, array, event) { return false; },
      ok: function(data, array, event) {
        location.href='{$addpath}?action=rejectuser&id='+uid;
      }
    });
  }
  function getprojects(showid) {
    $('#projects').html('<div style="text-align:center;"><img src="/images/loading.gif" style="width:70px;"></div>');
    $.ajax({
    url: 'getprojects.php',
    type: 'POST',
    async: true,
    data: { community: '{$community}', showid: showid },
    success: function(response) {
      $('#projects').html(response);
    },
    error: function(response) {
      getprojects(showid);
    }
    });
  }
  jQuery(document).ready(function() {
    loadingposts = 0;
    publishtime = 0;
    attached = 1;
    loadingmembers = 0;
    lasteventtime = 0;
    if (document.location.href.indexOf('membersof') == -1)
    {
      currenttab = 'maintab';
      winhref = window.location.href;
      if(winhref.indexOf('?reviews') + 1)
      {
        showmaintab('reviews');
      }
      else if(winhref.indexOf('?projects') + 1)
      {
        showmaintab('projects');
      }
      else
      {
        showposts();
        window.onscroll = showposts;
      }
    }
    else
    {
      $('#typesdiv').show();
      $('#cclist').change(function(){
        document.getElementById('memberregion').value = '';
        document.getElementById('memberregion_lng').value = '';
        changetype();
      });
      $('#membersearch').keyup(function (e) {
        if (e.keyCode === 13) {
          changetype();
        }
      });
      showmembers();
      window.onscroll = showmembers;
    }
  });
</script>
</head>
<body id="thisbody"{$itemscope}>
  {$header}
  <div class="bodybg">
    <div class="containerbg">
      {$bootstrap_message}
      <div id="notifier"></div>
      <div class="row affix-row">
        {$blogsidebar}
        <div class="col-sm-9 col-md-10 affix-content" style="background-color: transparent; padding-right: 10px; padding-left: 10px; float:right;">
          <div class="container" style="background-color: transparent; padding: 10px;"{$itemscope}>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bbc687b13c1de74"></script>
            <div class="addthis_inline_share_toolbox"></div>
            {$communityheader}{$communityaddtpl}{$blogsearchhtml}
            <span class="endposts"></span>
            <div id="postsblock"></div>
            <div id="loadingposts" style="display: none;text-align: center;"><br />
              <br />
              <span>Loading...</span><br />
              <img src="/images/loading.gif" alt="Loading..." width="30px"><br />
              <br />
            </div>
            <div style="width: 100%; padding: 10px;display:none;" id="typesdiv"> <a href="{$addpath}">To publications</a>
              <h2 style="margin-top:5px;">Subscribers:</h2>
              <span style="position: absolute; right: 30px; margin-top: -30px;"><a href="javascript:void(0)" onclick="cleanfilter()" style="color: #6699cc; border-bottom: 1px dashed #6699cc;">clean the filter</a></span>
              <div class="form-inline" style="margin-top: -10px;">
                <div class="input-group" style="margin-top: 10px;">
                  <span class="input-group-addon">Country:</span>
                  {$cc_html}
                </div>
                <div class="input-group" style="margin-top: 10px;display:none;" id="citydiv"> <span class="input-group-addon">City:</span>
                  <div class="typeahead__container" style="font-size: 12pt;">
                    <div class="typeahead__field" style="font-size: 12pt;"> <span class="typeahead__query" style="font-size: 12pt;">
                      <input type="text" class="form-control cities" name="memberregion_lng" id="memberregion_lng" value="" placeholder="City search..." autocomplete="off" onchange="checkregion()">
                      </span> </div>
                  </div>
                  <input type="hidden" name="memberregion" id="memberregion" value="">
                </div>
              </div>
              <div class="input-group" style="margin-top: 10px;"> <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                <input type="search" class="form-control" name="membersearch" id="membersearch" placeholder="Search Members">
                <span class="input-group-addon" onclick="document.getElementById('membersearch').value='';changetype();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span> </div>
            </div>
            <span class="endmembers"></span>
            <div id="membersblock" style="width: 100%; text-align: center;"> </div>
            <div id="loadingmembers" style="display: none;text-align: center;"><span>Loading...</span><br />
              <img src="/images/loading.gif" alt="Loading..." width="30px"><br />
              <a href="{$thispageurl}">Click here if loading is not performed</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {$footer}{$loginform}

<!--noindex-->
<div class="modal fade" id="editcomment" tabindex="-1" role="dialog" aria-labelledby="editcommentLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><!--nottranslate--><span class="nottranslate">&times;</span><!--nottranslate--></span></button>
    <h4 class="modal-title qwerty" id="editcommentLabel">Edit comment</h4>
    </div>
    <div class="modal-body">
<input type="hidden" id="editcommentid" name="editcommentid">
<textarea id="commenteditor"></textarea>
    </div>
      <div class="modal-footer" style="white-space: nowrap;">
    <div style="white-space: nowrap;">
      <button type="button" class="btn btn-default" id="cancelsave" onclick="$('#editcomment').modal('hide');">Cancel</button>
      <button type="button" class="btn btn-primary" id="savecommentbutton" onclick="$('#editcomment').modal('hide'); savecomment(0,-1);">Save comment</button>
    </div>
      </div>
    </div>
  </div>
</div>

<div id="newpicture" class="modal fade">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Picture</h4>
    </div>
    <div style="padding: 10px 10px 10px;">
        <form class="form-vertical" action="javascript:void(0);">
        <input type="hidden" name="filename" id="filename" value="">
        <div class="file-field">
          <div style="vertical-align: middle; margin: 2px; white-space: nowrap; width: 100%;">
          <img id="editphoto" src="./images/no-image.png" style="max-width: 100%; max-height: 300px;">
          </div>
          <div id="selectfile" class="btn btn-primary btn-sm" style="display: inline-block;">
            <input type="file" id="PhotoFile" name="PhotoFile" onchange="showeditphoto();">
            <input class="form-control" type="hidden" id="photo_b64" name="photo_b64">
          </div>
          <div class="input-group" style="margin-top: 10px;">
            <span>Description or keywords:</span><small style="float: right;">No more than 50 characters</small>
            <input type="text" class="form-control" name="description" id="description" value="">
          </div>
          <div id="loadingphoto" style="display: none;"><img src="./images/loading.gif" width="50px" height="50px"/></div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
      <div id="deletediv" class="checkbox has-error" style="display: inline-block; white-space: nowrap; float: left;">
      <label>
        <input type="checkbox" name="todelete" id="todelete"> <span>Delete file</span>
      </label>
      </div>
      <div style="display: inline-block; white-space: nowrap;">
      <button id="cancelimgbutton" type="button" class="btn btn-default" data-dismiss="modal">Cancel changes</button>
      <button id="saveimgbutton" type="button" class="btn btn-primary" onclick="saveimage()">Save changes</button>
    </div>
    </div>
  </div>
  </div>
</div>

<div class="trnsltphrss">
<span>Error</span>
<span>Please rate from 1 to 5 points!</span>
<span>it's disgusting</span>
<span>it's bad</span>
<span>so-so</span>
<span>it's good</span>
<span>it's perfectly</span>
<span>Do not rate</span>
<span>Rate this:</span>
<span>Save changes</span>
<span>Insert image</span>
<span>Upload image</span>
<span>Like!</span>
<span>Dislike!</span>
<span>Sorry, there was some error with the request. Please refresh the page.</span>
<span>Save comment</span>
<span>The minimum length of the comment - 5 characters.</span>
<span>Please note</span>
<span>Are you sure you want to delete this comment?</span>
<span>Delete comment</span>
<span>Link to comment</span>
<span>Highlight and copy this link:</span>
<span>Report abuse</span>
<span>A description of the problem or the essence of the claims:</span>
<span>User:</span>
<span>Comment #</span>
<span>Delete all comments</span>
<span>Please describe the essence of the claims</span>
<span>The number of views and unique users (when the reader was stayed more than 20 seconds)</span>
<span>Share on Facebook</span>
<span>Share on Twitter</span>
<span>Share on Odnoklassniki</span>
<span>Share on VKontakte</span>
<span>Share on Google Plus</span>
<span>Send via Viber</span>
<span>Send via Telegram</span>
<span>Copy link</span>
<span>Search Members</span>
<span>Are you sure you want to cancel the subscription for the selected user?</span>
</div>
<!--/noindex-->

<script>
{$communityjs}
</script>
</body>
</html>
