.icon {
  --icon-stroke: #{$color-brand-primary-base};
  --icon-stroke-width: 2;
  --icon-fill: #{$color-background-alt};

  display: inline-block;

  // Prevent the icon from shrinking inside a flex container.
  flex-shrink: 0;
  overflow: hidden;

  // Vertical-align: middle не всегда
  // выравнивает по визуальному центру, надо
  // экспериментировать с цифровыми значениями
  vertical-align: -.4rem;
  transition: fill var(--motion-duration-sm);

  width: 2.4rem;
  height: 2.4rem;

  @media #{$size-screen-retina} {
    --icon-stroke-width: 1.5;
  }
}

.icon-badge {
  background-color: $color-brand-primary-base;
  border-radius: var(--shape-border-radius-pill);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: $size-space-8;
  height: $size-space-8;
}

.icon-badge > .icon,
.btn-success .icon,
.btn.is-success .icon,
.btn.is-primary .icon,
%icon-active {
  --icon-stroke: var(--color-ink-inverse-2ry);
  --icon-fill: transparent;
  filter: drop-shadow(var(--layer-box-shadow-z1));
}

.btn.is-outline.is-inverse .icon {
  --icon-stroke: var(--color-ink-inverse-2ry);
}

.icon.is-left {
  margin-right: $size-space-1;
  margin-left: -$size-space-1 / 2;
}

.icon.is-right {
  margin-right: -$size-space-1;
  margin-left: 0;
}
