// Scrim / overlay / backdrop
.scrim {
  background-color: var(--color-scrim-base);
  opacity: 0;
  transition: opacity var(--motion-duration-base);
  z-index: var(--layer-zindex-scrim);

  &.is-on {
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

