.combobox {
  position: relative;
}

.combobox__suggestions {
  background: $color-bg-normal;
  border-radius: $border-radius;
  box-shadow: $box-shadow-z3;
  padding: $size-1;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 5rem;
  left: 0;
  transition: opacity $duration;
  width: 100%;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.combobox__option {
  border-radius: $border-radius-sm;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: $size-1 $size-2;
  transition: background-color $duration-sm;
  width: 100%;

  &:hover {
    background-color: $color-bg-alt;
  }
}

.combobox__option-label {
  color: $color-ink-normal;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  padding-right: $size-2;
}

.combobox__option-details {
  @extend %text-truncate;

  color: $color-ink-2ry;
}
