.combobox {
  position: relative;
}

.combobox__suggestions {
  background: var(--color-background-base);
  border-radius: var(--shape-border-radius-base);
  box-shadow: var(--layer-box-shadow-z3);
  padding: $size-space-1;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 5rem;
  left: 0;
  transition: opacity var(--motion-duration-base);
  width: 100%;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.combobox__option {
  border-radius: var(--shape-border-radius-sm);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: $size-space-1 $size-space-2;
  transition: background-color var(--motion-duration-sm);
  width: 100%;

  &:hover {
    background-color: $color-background-alt;
  }
}

.combobox__option-label {
  color: var(--color-ink-base);;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  padding-right: $size-space-2;
}

.combobox__option-details {
  @extend %text-truncate;

  color: var(--color-ink-2ry);
}
