// wtfforms.com — Mark Otto ide project, form controls customization
// css-tricks.com/the-cleanest-trick-for-autogrowing-textareas

// MARKUP TIP: use inputmode attribute to control keyboard appearance on mobile
// devices
// <input type="text" inputmode="url">
// <input type="text" inputmode="email">
// <input type="text" inputmode="search">
// <input type="text" inputmode="numeric">
// <input type="text" inputmode="tel">

// With input(inputmode="decimal") the keyboard appears on iOS the same as the
// tel case, but replaces the +*# key with a simple decimal (.).
// <input type="text" inputmode="decimal">

// Input container
.form__item {
  position: relative;
  padding-bottom: var(--space-padding-bottom-form-group);
}

// Input, text area, select
.form__control,
%form-control {
  appearance: none;
  background-clip: padding-box;
  background-color: var(--color-background-base);
  background-image: none;
  border-radius: var(--shape-border-radius-base);
  border: 0;
  box-shadow:
    var(--layer-box-shadow-contour),
    var(--layer-box-shadow-z2);
  color: var(--color-ink-2ry);
  display: block;
  margin: 0;
  padding-top: var(--space-padding-y-input);
  padding-right: var(--space-padding-right-input);
  padding-bottom: var(--space-padding-y-input);
  padding-left: var(--space-padding-left-input);
  overflow: visible;
  transition: border-color var(--motion-easing-base) var(--motion-duration-xs);
  width: 100%;

  &:focus {
    color: var(--color-ink-base);
    border-color: $color-brand-primary-base;
    box-shadow:
      var(--layer-box-shadow-focus-outline),
      var(--layer-box-shadow-z2);
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: var(--color-ink-3ry);
    // Override Firefox's unusual default opacity
    opacity: 1;
  }
}

.form__actions {
  padding-bottom: var(--space-padding-bottom-form-actions);
}

