// -----------------------------------------------------------------------------
// MATERIAL DESIGN LIKE ANIMATED LABELS
// -----------------------------------------------------------------------------

// MARKUP
// .form-group
//   label(for='form-password') Password <span aria-hidden="true">*</span>
//   input#form-password.form-control(type='password', required='')

input,
label {
  position: relative;
}

label {
  padding-top: var(--space-padding-top-base);
  padding-bottom: var(--space-padding-bottom-label);
  transition: all var(--motion-duration-lg) var(--motion-easing-base);
  z-index: 1;
}

// Label
.form__label.is-icon {
  padding: 0;
  position: absolute;
  top: $size-space-1;
  left: $size-space-1;
  width: 2rem;
  height: 2rem;
}

.form__label.has-tip {
  display: flex;
  justify-content: space-between;
}

// Class set with JS
.is-filled label {
  top: 0;
  font-size: var(--font-size-small);
  line-height: var(--font-line-height-small);
}
