%btn {
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;

  &:focus {
    outline: 0;
  }
}

.btn,
%btn-base {
  @extend %btn;

  --padding: 0 #{$size-2};

  border-radius: $border-radius;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  padding: var(--padding);
  height: $size-6;

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow:
      inset 0 0 0 1px $color-ink-border,
      inset 0 3px 5px $color-ink-border,
      inset 0 0 0 100px $dark-min;
  }

  &.is-compact {
    --padding: 0 1.2rem;
  }

  // Reduce right padding in buttons with chevrons
  .icon.is-chevron {
    margin-right: -$size-1;
  }

  @include media-breakpoint-up(md) {
    --padding: 0 #{$size-3};
  }
}

.btn.is-primary {
  background-color: $color-primary-bg-dark;
  background-image: linear-gradient(lighten($color-primary, 2%), darken($color-primary, 10%));
  color: $color-ink-inverse-normal;
  text-shadow: 0 1px 0 $color-ink-border;
  transition:
    filter $duration-xs,
    box-shadow $duration-xs;

  &:hover {
    color: $color-ink-inverse-normal;
    filter: brightness($hover-brightness);
  }

  &:focus {
    box-shadow: $box-shadow-focus-outline;
  }

  &:active {
    background-image: none;
  }
}

.btn.is-primary .icon {
  --icon-stroke: #{$color-ink-inverse-normal};
}

.btn.is-outline,
%btn-outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px $color-ink-accent-border;
  color: $color-primary-text;
  transition:
    background-color $duration-xs,
    box-shadow $duration-xs;

  &:hover {
    background-color: $color-bg-alt;
    color: $color-primary-text;
  }

  &:focus {
    box-shadow: $box-shadow-focus-outline;
  }
}

.btn.is-outline.is-inverse {
  box-shadow: inset 0 0 0 1px $color-ink-inverse-2ry;
  color: $color-ink-inverse-normal;
  text-shadow: 0 .1rem 0 $color-ink-border;

  &:hover {
    background-color: rgba($color-bg-alt, .2);
    color: $color-ink-inverse-normal;
  }

  &:focus {
    box-shadow: 0 0 0 .4rem $color-ink-inverse-2ry;
  }

  .icon {
    --icon-stroke: #{$color-ink-inverse-2ry};
  }
}

// GHOST (not underlined links like)
.btn.is-ghost,
%btn-ghost {
  @extend %btn;

  background-color: transparent;
  color: $color-ink-link;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    box-shadow: $box-shadow-focus-outline;
  }
}

.btn.is-icon {
  --padding: 0;

  background-color: $color-bg-alt;
  border: 2px solid $color-primary;
  border-radius: 50%;
  width: $size-5;
  height: $size-5;

  &:hover {
    filter: brightness($hover-brightness);
  }

  &:focus {
    box-shadow: $box-shadow-focus-outline;
  }

  @media #{$mq-retina} {
    border-width: 1.5px;
  }
}

// STAND-ALONE

.is-stand-alone {
  @include media-breakpoint-up(sm) {
    flex-basis: 0;
    margin: 0 auto;
  }
}

// BUTTON GROUP

.buttons,
%buttons {
  display: flex;

  .btn + .btn {
    margin-left: $size-1;
  }
}

// -----------------------------------------------------------------------------
// CLOSE
// -----------------------------------------------------------------------------

.btn.is-close {
  --padding: .4rem;
  border-radius: 50%;
  flex-shrink: 0;
  transform: translateY(-.4rem);
  height: auto;
}

// -----------------------------------------------------------------------------
// ACCESSIBLE TOGGLE BUTTON
// -----------------------------------------------------------------------------

// https://material.io/components/buttons#toggle-button

// MARKUP AND SCRIPTING

// This button is NOT active
// button.btn.is-fave(aria-label='Favorite', aria-pressed='false') ❤

// This button IS
// button.fave(aria-label='Favorite', aria-pressed='true') ❤

// Change the attribute value using the setAttribute() method.
// btn.setAttribute('aria-pressed', true);
// btn.setAttribute('aria-pressed', false);

.btn.is-toggle[aria-pressed='true'] {
  color: $color-primary-text;
}
